# My Projects
My ideas of cool codes and custom functions that I created to practice my new found knowledge of working through **Kaggle: Intro to Programming Lessons 1 to 4**

### *Done on January 10, 2024*

## **I. <u>Odd or Even Function:</u>**
- Create a function that will determine if a number you input into it is odd or even
- Call this function '<font color="Blue"> **OddEven()** </font>'
>
>
<font color="BlueViolet">

In [1]:
def OddEven(integer):
    return 'Even' if integer % 2 == 0 else 'Odd'

print(OddEven(1))

Odd

------------

## **II. <u>Using many if-else one liners:</u>**
- First I tried to put together my knowledge with the one liner if-else statements to see if elif would work and noticed it did not work.
- So I asked ChatGPT and he said to do many else in a roww
- I then used the example from Kaggle of a water company with the below bill price structure to create a one line water bill calculation function
>
>
| Tier | Amount in gallons | Dollar Price per 1000 gallons |
| ---- | ----------------- | ---------------------- |
| Tier 1 |    0 - 8,000    | 5 dollars |
| Tier 2| 8,0001 - 22,000 | 6 dollars |
| Tier 3 | 22,001 - 30,000 | 7 dollars|
| Tier 4 | 30,001 + | 10 dollars |

In [2]:

# Define the one line function for water bill
def water_bill(num_gallons):
    gallons = num_gallons / 1000
    return (gallons * 5) if (num_gallons <= 8000) else gallons * 6 if num_gallons <= 22000 else gallons * 7 if num_gallons <= 30000 else gallons * 10


# Print cost of 10,000 gallons a month should = 10,000 x 6 = 60
print('Cost at 10000 gallons =', water_bill(10000))

Cost at 10000 gallons = 60.0

------------

### **III. <u>Custom Function for 2024 Taxes:</u>**
Would like to create a program to help me with determining my taxes with my husband since he is a 1099 and I am a W-2 with a function
>
>
- The 2024 tax bracket for married filing jointly is as follows:
| Bracket | Range of Income | Income | Tax Bracket | Difference |
| ------- | --------------- | ------ | ----------- | ---------- |
| **1** | 0 to 23,200 dollars | \<= \$23,200 | 10% | 0 |
| **2** | 23,201 to 94,300 dollars | \<= \$94,300 | 12% | up 2% |
| **3** | 94,301 to 201,050 dollars | \<= \$201,050 | 22% | up 10% the moment you hit middle class |
| **4** | 201,051 to 383,900 dollars | \<= \$383,900 | 24% | up 2% |
| **5** | 383,901 to 487,450 dollars | \<= \$487,450 | 32% | up 8% the moment you hit upper middle class |
| **6** | 487,451 to 731,200 dollars | \<= \$731,200 | 35% | up 3% |
| **7** | over 731,200 dollars | \> \$731,200 | 37% | up 2% and caps out when you hit the upper class |

#### III. **A. <u>Steps to create it:</u>**
>
>
1. Use "<font color="DeepSkyBlue"> **if . . elif. . . else** </font>" statements in a multi line <font color="SteelBlue"> **code block** </font> in a custom <font color="BlueViolet"> **defined** </font> function called '<font color="Blue"> **total_tax()** </font>' that will take an input of '<font color="LightSeaGreen"> **income** </font>'
>
>
2. Remember each step up the bracket the tax is only on the range in that bracket so have to have in each level of calculation the max tax for the previous bracket added to the tax on the taxable income in the current tax bracket income range
>
>

>
>
#### III. **B. <u>The actual function in code cell:</u>**

In [3]:
def total_tax(income):
    if income <= 23200:
        tax = income * 0.1
    elif income <= 94300:
        tax = (23200 * 0.1) + ( (income - 23200) * 0.12 )
    elif income <= 201050:
        tax = (23200 * 0.1) + ((94300 - 23200) * 0.12) + ( (income - 94300) * 0.22 )
    elif income <= 383900:
        tax = (23200 * 0.1) + ((94300 - 23200) * 0.12) + ((201050 - 94300) * 0.22) + ( (income - 201050) * 0.24 )
    elif income <= 487450:
        tax = (23200 * 0.1) + ((94300 - 23200) * 0.12) + ((201050 - 94300) * 0.22) + ((383900 - 201050) * 0.24) + ( (income - 383900) * 0.32 )
    elif income <= 731200:
        tax = (23200 * 0.1) + ((94300 - 23200) * 0.12) + ((201050 - 94300) * 0.22) + ((383900 - 201050) * 0.24) + ((487450 - 383900) * 0.32) + ( (income - 487450) * 0.35 )
    else:
        tax = (23200 * 0.1) + ((94300 - 23200) * 0.12) + ((201050 - 94300) * 0.22) + ((383900 - 201050) * 0.24) + ((487450 - 383900) * 0.32) + ((731200 - 487450) * 0.35) + ( (income - 731200) * 0.37 )
    return tax

>
>
#### III. **C. <u>Practice with the function:</u>**
>
>
- The 2024 tax bracket for married filing jointly is as follows:
| Bracket | Range of Income | Income | Tax Bracket | Difference |
| ------- | --------------- | ------ | ----------- | ---------- |
| **1** | 0 to 23,200 dollars | \<= \$23,200 | 10% | 0 |
| **2** | 23,201 to 94,300 dollars | \<= \$94,300 | 12% | up 2% |
| **3** | 94,301 to 201,050 dollars | \<= \$201,050 | 22% | up 10% the moment you hit middle class |
| **4** | 201,051 to 383,900 dollars | \<= \$383,900 | 24% | up 2% |
| **5** | 383,901 to 487,450 dollars | \<= \$487,450 | 32% | up 8% the moment you hit upper middle class |
| **6** | 487,451 to 731,200 dollars | \<= \$731,200 | 35% | up 3% |
| **7** | over 731,200 dollars | \> \$731,200 | 37% | up 2% and caps out when you hit the upper class |
>
>

>
>
##### **Practice Problems to do in the below code cells:**

>
>
##### III. C. **i. <u>Example 1:</u>**
What is the total tax owed if your Income was 20,000 dollars

1. Create variable to store the answer
2. Print the variable with a label
3. Check the variable to be accurate

In [4]:

# 1. Income of $20,000 create variable to hold the tax
tax1 = total_tax(20000)

# 2. Print and label
print('Tax for $20,000 income =', tax1)

# 3. Check if accurate
correct = 20000 * 0.1
print('Is the calculation accurate?', tax1 == correct)

Tax for $20,000 income = 2000.0
Is the calculation accurate? True

>
>
##### III. C. **ii. <u>Example 2:</u>**
What is the total tax owed if your Income was 23,200 dollars

1. Create variable to store the answer
2. Print the variable with a label
3. Check the variable to be accurate

In [5]:

# 1. Income of $23,200 create variable to hold the tax
tax2 = total_tax(23200)

# 2. Print and label
print('Tax for $23,200 income =', tax2)

# 3. Check if accurate
correct = 23200 * 0.1
print('Is the calculation accurate?', tax2 == correct)

Tax for $23,200 income = 2320.0
Is the calculation accurate? True

>
>
##### III. C. **iii. <u>Example 3:</u>**
What is the total tax owed if your Income was 23,201 dollars

1. Create variable to store the answer
2. Print the variable with a label
3. Check the variable to be accurate

In [6]:

# 1. Income of $23,201 create variable to hold the tax
tax3 = total_tax(23201)

# 2. Print and label
print('Tax for $23,201 income =', tax3)

# 3. Check if accurate
correct = (23200 * 0.1) + (1 * 0.12)
print('Is the calculcation accurate?', tax3 == correct)

Tax for $23,201 income = 2320.12
Is the calculcation accurate? True

>
>
##### III. C. **iv. <u>Example 4:</u>**
What is the total tax owed i/f your Income was 94,300 dollars

1. Create variable to store the answer
2. Print the variable with a label
3. Check the variable to be accurate

In [7]:

# 1. Income of $94,300 create variable to hold the tax
tax4 = total_tax(94300)

# 2. Print and label
print('Tax for $94,300 income =', tax4)

# 3. Check if accurate
correct = (23200 * 0.1) + ((94300 - 23200) * 0.12)
print('Is the calculation accurate?', tax4 == correct)

Tax for $94,300 income = 10852.0
Is the calculation accurate? True

>
>
##### III. C. **v. <u>Example 5:</u>**
What is the total tax owed if your Income was 1,000,000 dollars

1. Create variable to store the answer
2. Print the variable with a label
3. Check the variable to be accurate

In [9]:

# 1.
taxmil = total_tax(1000000)

# 2. 
print('Tax for $1 million income =', taxmil)

# 3. check if accurate
correct = (23200 * 0.1) + ((94300 - 23200) * 0.12) + ((201050 - 94300) * 0.22) + ((383900 - 201050) * 0.24) + ((487450 - 383900) * 0.32) + ((731200 - 487450) * 0.35) + ( (1000000- 731200) * 0.37 )
print('Is the calculation accurate?', taxmil == correct)

Tax for $1 million income = 296125.5
Is the calculation accurate? True