In [1]:
def getpay(numhours):
    pretax = numhours * 15
    aftertax = pretax * (1 - 0.12)
    return aftertax

In [2]:
fulltime = getpay(40)
print(fulltime)

528.0

In [3]:
partime = getpay(32)
print(partime)

422.4

In [4]:
pay10 = getpay(10)
print(pay10)

132.0

In [5]:
def getpaydetailed(numhours, hourlywage, taxbracket):
    pretax = numhours * hourlywage
    aftertax = pretax * (1 - taxbracket)
    return aftertax

In [6]:
fulltime = getpaydetailed(40, 24, 0.22)
print(fulltime)

748.8000000000001

In [7]:
fulltime = getpaydetailed(40, 15, 0.12)
print(fulltime)

528.0

In [8]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

In [9]:
nearly_pi = 3.14159265
print(nearly_pi)
print(type(nearly_pi))

3.14159265
<class 'float'>

In [10]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [11]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [12]:
import math
test_value = 2.17
rounded_value = math.ceil(test_value)
print(test_value)
print(rounded_value)

2.17
3

In [13]:
almost_pi = 22 / 7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [14]:
roundedpi = round(almost_pi, 5)
print(roundedpi)
print(type(roundedpi))

3.14286
<class 'float'>

In [15]:
race = 'Daytona 500'
print('race:', race)
print('data type:', race)

race: Daytona 500
data type: Daytona 500

In [16]:
print(race, type(race))

Daytona 500 <class 'str'>

In [17]:
z_one = True
print(z_one, 'is', type(z_one))

True is <class 'bool'>

In [18]:
z_two = False
print(z_two)
print(z_two, 'is', type(z_two))

False
False is <class 'bool'>

In [19]:
z_three = (1 < 2)
print(z_three)
print(z_three, 'is', type(z_three))

True
True is <class 'bool'>

In [20]:
z_four = (5 < 3)
print(z_four)
print('z_four', 'is', z_four, 'which is data', type(z_four))

False
z_four is False which is data <class 'bool'>

In [21]:
print('Is 5 < 3 True or False?', z_four)

Is 5 < 3 True or False? False

In [22]:
z_five = not z_four
print('original value of z_four is:', z_four)
print('z_five is not z_four therefore z_five is:', z_five)

original value of z_four is: False
z_five is not z_four therefore z_five is: True

In [23]:
print('"abc" alone =', "abc")
print('"abc" * False =', ("abc" * False))

"abc" alone = abc
"abc" * False =

In [24]:
def get_expected_cost(beds, baths, basement):
    value = 80000 + (beds * 30000) + (baths * 10000) + (basement * 40000)
    return value

In [25]:
b1b1f = get_expected_cost(1, 1, False)
print(b1b1f)

120000

In [26]:
b2b1t = get_expected_cost(2, 1, True)
print(b2b1t)

190000

In [27]:
print(True + False)

1

In [28]:
print(False + False)

0

In [29]:
print(True + True + False)

2

In [30]:
print(False + 4)

4

In [31]:
print(3 + False)

3

In [32]:
print(False + True + 2 + True + 1)

5

In [33]:
def projectcost(engraving, gold):
    cost = 50 + (50 * gold) + (len(engraving) * 7) + (gold * (len(engraving) * 3))
    return cost

In [34]:
tengold = projectcost("abcdefghijk", True)
print(tengold)

210

In [35]:
love = projectcost("I love you", False)
print(love)

120

In [36]:
def costproject(engraving, gold):
    cost = gold * (100 + 10 * len(engraving)) + (not gold) * (50 + 7 * len(engraving))
    return cost

In [37]:
love1 = costproject("I love you", False)
print(love1)

120

In [38]:
goldlove = projectcost("I love you", True)
print(goldlove)
goldlove1 = costproject("I love you", True)
print(goldlove1)

200
200

In [39]:
project1 = projectcost("Charlie+Denver", True)
print(project1)
project1b = costproject("Charlie+Denver", True)
print(project1b)

240
240

In [40]:
project2 = projectcost('08/10/2000', False)
print(project2)
project2b = costproject('08/10/2000', False)
print(project2b)

120
120

In [41]:
race = 'Daytona 500'
kilo = 1000
temp = 98.6
flag = True

print(race, 'is', type(race))
print(kilo, 'is', type(kilo))
print(temp, 'is', type(temp))
print(flag, 'is', type(flag))

Daytona 500 is <class 'str'>
1000 is <class 'int'>
98.6 is <class 'float'>
True is <class 'bool'>

In [42]:
flag = 4 > 8
print('4 > 8 =', flag)

4 > 8 = False

In [43]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [44]:
shorteststring=""
print(shorteststring)
print(len(shorteststring))

0

In [45]:
mynumber = '1.12321'
print('mynumber =', mynumber)
print(type(mynumber))
print('length =', len(mynumber))

mynumber = 1.12321
<class 'str'>
length = 7

In [46]:
a = "def"
b = "456"
print('a =', a)
print('a length =', len(a))
print('')
print('b =', b)
print('b length =', len(b))
print('')
newstring = "abc" + "123"
newstring1 = a + b
print('newstring =', newstring)
print('newstring length =', len(newstring))
print('')
print('newstring1 =', newstring1)
print('newstring1 length =', len(newstring1))

a = def
a length = 3

b = 456
b length = 3

newstring = abc123
newstring length = 6

newstring1 = def456
newstring1 length = 6

In [47]:
threepeat = "abc" * 3
print(threepeat)
print(len(threepeat))

abcabcabc
9

In [48]:
orig = "abc"
threepeatorig = orig * 3
print('orig =', orig)
print('orig length =', len(orig))
print('')
print('threepeatorig =', threepeatorig)
print('threepeatorig length =', len(threepeatorig))

orig = abc
orig length = 3

threepeatorig = abcabcabc
threepeatorig length = 9

In [49]:
print(mynumber, type(mynumber))

1.12321 <class 'str'>

In [50]:
also_my_number = float(mynumber)
print(mynumber, type(mynumber))
print("")
print(also_my_number, type(also_my_number))

1.12321 <class 'str'>

1.12321 <class 'float'>

In [51]:
practice1 = "10.43430"
print('practice1 =', practice1)
print('practice1 type =', type(practice1))
print('')
practice1float = float(practice1)
print('practice1float =', practice1float)
print('practice1float type =', type(practice1float))

practice1 = 10.43430
practice1 type = <class 'str'>

practice1float = 10.4343
practice1float type = <class 'float'>

In [52]:
practice2 = "3"
print('practice2 orig =', practice2)
print('practice 2 orig type =', type(practice2))
print('')
practice2float = float(practice2)
print('practice2float =', practice2float)
print('practice2float type =', practice2float)

practice2 orig = 3
practice 2 orig type = <class 'str'>

practice2float = 3.0
practice2float type = 3.0

In [53]:
print( int( -1.1234) )

-1

In [54]:
print( int( -2.123) )

-2

In [55]:
print( int( -2.67) )

-2

In [56]:
print( int( -1.4) )

-1

In [57]:
print( int( -1.1))

-1

In [58]:
print(practice1)

10.43430

In [59]:
prac1 = float(practice1)
print(prac1)

10.4343

In [60]:
print(type(prac1))

<class 'float'>

In [61]:
prac1a = int(prac1)
print(prac1a)
print(type(prac1a))

10
<class 'int'>

In [62]:
y = 1.
print(y)
print(type(y))
z = int(y)
print(z)
print(type(z))

1.0
<class 'float'>
1
<class 'int'>

In [63]:
num1 = '3'
num2 = '9'
print(type(num1), type(num2))

<class 'str'> <class 'str'>

In [64]:
num1int = int(num1)
print(num1int, type(num1int))

3 <class 'int'>

In [65]:
num2int = int(num2)
print(num2int, type(num2int))

9 <class 'int'>

In [66]:
print(num1int)
print(num2int)
total = num1int + num2int
print(total, type(total))

3
9
12 <class 'int'>

In [67]:
print('type num1 =', type(num1))
print('type num2 =', type(num2)) 

num1f = float(num1)
num2f = float(num2)
total = num1f + num2f
print(total, type(total))

type num1 = <class 'str'>
type num2 = <class 'str'>
12.0 <class 'float'>

In [68]:
def addfive(integer):
    value = integer + 5
    return value

In [69]:
value = addfive(5)
print(value)

10

In [70]:
print('7 + 5 =', addfive(7))

7 + 5 = 12

In [71]:
print('10 + 5 =', addfive(10))

10 + 5 = 15

In [72]:
a = 8
b = 4

print('Assign numerical values to variables a and b')
print('a =', a)
print('b =', b)

Assign numerical values to variables a and b
a = 8
b = 4

In [73]:

# Add and assign a new value to the first variable a and display its stored value
print('original a =', a)
print('original b =', b)
a += b
print('a += b results in a + b =', a, '= the new value of a')

original a = 8
original b = 4
a += b results in a + b = 12 = the new value of a