# Introduction to Programming Kaggle Course
#### Notes and practice from course
###### <u>*The following rules for references apply in markdown notes*<u>
###### - *Things in "quotes" in markdown are direct quotes from ***Coding for Beginner's In Easy Steps 2nd Edition*** book*
###### - *Things in 'quotes' in markdown are direct quotes from ***Kaggle Course*** okay*
###### - *Some things are from discussion with ChatGPT and do not have quote marks as no standard has been set at this time for referencing ChatGPT*

# **I. <u>Data Types</u>**

| Data Type | Coding Class Symbol | Description | Example | Available Actions | Covered in Intro Kaggle lesson |
| --------- | ------------- | ----------- | ------- | ---------------------- | -------- |
| **Integer** | '***int()***' | Whole number with***OUT*** decimal point and with**OUT*** punctuation | 1000 | Arithmetic | Yes |
| **Float** | '***float()***' | Number ***WITH*** a Decimal point | 98.6 | Arithmetic, and more percise math operations like sq root or trig using a math library | Yes |
| **Boolean Value** | ***bool*** | Logical Truth Value, True or False. Represent 1 of 2 values | True | Logical Operations (AND, OR, NOT). Used in Comparisons and Conditions | Yes |
| **String** | '***str()***' | "Any collection of characters you can enter from a computer keyboard, grouped together within **quote marks**" | 'Coding is 100% fun' | **Concatenation** *(combining strings)*, **Slicing** *(getting a part of the string)*, **Formatting** *(Inserting variables into a string)*, **Length Checked**, **Repeat** | Yes | 
| **Dictionaries**| '***dict***' | Store key-value pairs. Stores pairs of info where each piece of data (a value) has a name (a key). They are contained within the ***{ }***  | '**{"fruit": "apple", "quantity": 5}**' = **"fruit"** is **"apple"** and **"quantity"** is **"5"** | Acccessing values by keys AND **Adding** and **Removing Key-value pairs** | No |
| **Sets** | '***set***' | A collection of unique items, which means ***No Duplicates*** and they are contained w/i the  ***{ }***. Its distinguished from a dictionary because it contains only values and also does **NOT** have the key-value pair structure | a set w/ 3 numbers is '**{1, 2, 3}**' | | No |
| **Lists** | '***list***' | An ordered collection of items. Items **can** be **changed**. They are contained within a **[ ]** | '**[1, "hello", 3.14]**' is a list with a number, a string and a float and its **CHANGEABLE** | | No |
| **Tuples** | '***tuple***' | Just like **lists** BUT once you create it, you can **NOT** **change** it = it's immutable | '**(1, "hello", 3.14)**' is a tuple with a number, a string and a float and you can **NEVER CHANGE IT** | | No |

#### I. **A. <u>Determining Data Type within a '<font color="DarkCyan"> variable </font>'</u>**
> '<font color="blue"> **print(** </font> <font color="Red"> **type(** </font> <font color="DarkCyan"> **Insert_Variable_Name_In_Question_Here** </font> <font color="red"> **)** </font> <font color="Blue"> **)** </font>'
    
This is acheived by using using 2 built-in functions. 

By placing the <font color="DarkCyan"> **name of the variable** </font>, that contains data in which you want to know the data type of, within the '<font color="red"> **()** </font>' of the '<font color="red"> **type()** </font>' function which itself is within the '<font color="blue"> **()** </font>' of the '<font color="blue"> **print()** </font>' function

>
>
##### I. A. **i. <u>Examples of Determining Data Type within a '<font color="DarkCyan"> Variable </font>' using the '<font color="red"> type() </font>' function</u>**

###### I. A. i. **1. Example 1**

In [1]:
# set the x variable to contain the number 14
x = 14

# Print that variable
print('variable x contains:', x)

# Then right underneath the variable print please identify what Data Type variable x contains
print('data type:', type(x))

variable x contains: 14
data type: <class 'int'>

>
>
###### I. A. i. **2. Example 2**

In [2]:
# set the 'nearly_pi' variable to contain some of the numbers of pi
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944

# Print the 'nearly_pi' variable
print(nearly_pi)

# Identify the Data Type contained within variable 'nearly_pi'
print(type(nearly_pi))

3.141592653589793
<class 'float'>

>
>
###### I. A. i. **3. Example 3**

In [3]:
# Set the 'z_one' variable to contain True withOUT quote marks
z_one = True

# Print the contents of the 'z_one' variable
print('variable z_one contains:', z_one)

# Identify and print the Data Type contained in the 'z_one' variable
print('data type:', type(z_one))

variable z_one contains: True
data type: <class 'bool'>

>
>
###### I. A. i. **4. Example 4**

In [4]:
# Set the 'w' variable to contain "Hello, Python!"
w = "Hello, Python!"

# Print variable 'w'
print(w)

# Tell me the Data Type contained in variable 'w'
print(type(w))

Hello, Python!
<class 'str'>

## I. **B. Data Type Actions**

There are specific rules for specific data types. You can do certain actions with some that you cannot do with others.

Therefore to 'avoid errors' you 'need to make sure that the actions match the data types that' you 'have'

| Action | Data Type Able to do it | Example of allowable action with that Data Type | Example of Data Type Not able to do This action |
| ------ | ----------------------- | ------- | ----- |
| Division |  **floats** | 12.0 / 2.0 = *ALLOWED* , Can divide 2 **floats** | **strings***"cat" / "dog" = NOT ALLOWED, can**NOT** divide 2 **strings** |

## **II. Integers**
= Whole numbers with**OUT** **decimal point** and with**OUT** any **punctuation**

Can be positive or negative

Can be zero (0)

### II. **A. <u>Round a Float to its nearest Integer<u>**
You can round up a float (a decimal number) to its nearest integer which is essentially turning a float into an integer. 

You achieve this with the '<font color="blue"> **math.ceil()** </font>' function.

Ensure that it is imported into your notebook and use it with the example 2.17 to round it to 3. This is demonstrated in the **Functions.ipynb** JupyterNotebook in the Kaggledsc/Introduction to Python Folder. But also in the below codecell

In [5]:

# Import the 'math' module to use the 'math.ceil()' function in this notebook
import math

# Use it to round 'test_value' variable storing 2.17 to nearest integer and store it in the 'rounded_value' variable
test_value = 2.17
rounded_value = math.ceil(test_value)
print(test_value)
print(rounded_value)

2.17
3

In [6]:
# It rounds UP not down
test_value = 1.1
rounded_value = math.ceil(test_value)
print(test_value)
print(rounded_value)

1.1
2

## **III. Floats**
= Numbers **WITH** **decimal point**, including Numbers with **fractional parts**

- Does <font color="red">not</font> have to be a fractional part as the following numbers would still be considered a **float** despite them having no fractional part
    - **1.**
    - **1.0**
    - **1.00**

Can be specified classically with numbers behind a decimal like '**nearly_pi**' above But can also be specified with a fraction as seen below:

In [7]:

# Example of specifying a float with a fraction
almost_pi = 22 / 7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [8]:

# Example of float without a fractional part
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

### III. **A. <u>Rounding Fractions<u>**
- There is a '<font color="blue"> **round()** </font>' function that is used to round fractions aka round **float** to a specified number of decimal places. 


- The '<font color="blue"> **round()** </font> ' function takes **2 arguments** within it's parentheses. Remember arguments are separated by comma's in a function. 


- The 2 arguments the '<font color="blue"> **round()**</font>' function accept are <font color="Red"> the float you want to round </font> and <font color="Maroon"> the # of decimals you want to round too </font>. As follows:
>
> <font color="blue"> **round(** </font> <font color="Red"> **FLOAT_to_be_ROUNDED** </font>, <font color="Maroon">  **DECIMAL_Place_#_to_round_to** </font> <font color="blue"> **)** </font>



<u>**You do this by using the:**<u>
1. Assign a <font color="DarkCyan"> **new variable** </font> with the '<font color="Blue"> **round()** </font>' function
2. In the <font color="Blue"> **( )** </font> of the '<font color="Blue"> **round()** </font>' function you <font color="Red"> name the thing you want to be rounded </font>
3. You then put a **,** and space
4. You then put <font color="Maroon"> the number of decimal places you want step 2 thing rounded too </font>
5. Then you <font color="blue"> close the parentheses </font> and run it
6. Then you <font color="blue"> **print** </font> the <font color="DarkCyan"> **new variable** </font> you just assigned and run it
7. You can see the type by then <font color="blue"> **print()** </font>the <font color="blue"> **type()** </font> function

This is shown in the code cell below

In [9]:

# Remember the variable 'almost_pi' from above?
# (1) Assign a new variable to round 'almost_pi' to the 5th decimal point
rounded_pi = round(almost_pi, 5)

# (2 to 7) Print the result and determine the type
print(almost_pi)
print(rounded_pi)
print(type(rounded_pi))

3.142857142857143
3.14286
<class 'float'>

In [10]:

race = 'Daytona 500'
print(race)
print(type(race))

Daytona 500
<class 'str'>

In [11]:

print(race, type(race))

Daytona 500 <class 'str'>

## **IV. Booleans**

### IV. **A. <u>Direct Assignment<u>**
A **Boolean** is a logical truth value, which is either <font color="ForestGreen"> **True** </font> or <font color="Red"> **False** </font>

When you assign a variable the keyword <font color="ForestGreen"> **True** </font> or <font color="Red"> **False** </font> Python programming recognizes its a boolean value "class"

Examples of it's data type use are below and they are identified as class '**bool**' by Python program when you ask to identify the type


Used to help programs choose a path, taught in future lessons

### Case sensitive:
- <font color="ForestGreen"> **True** </font> NOT = **TRUE** in the code cell
- <font color="Red"> **False** </font> NOT = **FALSE** in the code cell

##### IV. A. **i. <u>Set a Variable to the Boolean Value of <font color="ForestGreen"> True </font> <u>**

In [12]:
# Set variable 'z_one' to a boolean with value True, print and type it
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [13]:

# Print the above but in a single output line
print(z_one, type(z_one))

True <class 'bool'>

In [14]:

# Print 'z_one' in a single line stating the variable data and the type with the word is between them
print(z_one, 'is', type(z_one))

True is <class 'bool'>

>
##### IV. A. **ii. <u>Set a Variable to the Boolean Value of <font color="Red"> False </font> <u>**

In [15]:
# Set variable 'z_two' to contain the boolean value false, print and type it
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

In [16]:

# Print the above in single line with 'is' between them
print(z_two, 'is', type(z_two))

False is <class 'bool'>

### IV. **B. <u>Used to Represent the <font color="Magenta"> truth value </font> of an expression<u>**
If you put an expression inside a variable that is either <font color="ForestGreen"> **true** </font> or <font color="Red"> **false** </font> the Python program will print the Boolean value <font color="ForestGreen"> **True** </font> or <font color="Red"> **False** </font> as a result

It's like asking Python <font color="Purple"> **'Is 1 less than 2?'** </font>
- This is achieved by assigning a <font color="DarkCyan"> **variable** </font> with the expression **<font color="Purple">(1 < 2)</font>**
- It assigns the <font color="DarkCyan"> **variable** </font> the **Boolean value** without having to actually type the **Boolean value**  <font color="ForestGreen"> **True** </font> or <font color="Red"> **False** </font> 
    - Because by putting in an expression that is in its nature a <font color="ForestGreen"> **True** </font> or <font color="Red"> **False** </font>  statement that is saying hey this <font color="DarkCyan"> **variable** </font> ='s <font color="ForestGreen"> **True** </font> or <font color="Red"> **False** </font> , respectively, without having to type value <font color="ForestGreen"> **True** </font> or <font color="Red"> **False** </font>
    - Its taught in future lessons but its a way to test if something is <font color="ForestGreen"> **True** </font> or <font color="Red"> **False** </font>
>

Examples below in the following code cells

##### IV. B. **i. Example 1**:
1. Assign the question **'Is 1 less than 2?'** to the **variable** named '**z_three**'
2. Have Python answer True or False
3. Have Python state the class (data type) contained in variable '**z_three**'

In [17]:
# Print answer in 2 lines
z_three = ( 1 < 2 )
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [18]:

# Print answer is 1 line, like as sentence using a string
z_three = (1 < 2 )
print('z_three','is', z_three, 'and is the', type(z_three))

z_three is True and is the <class 'bool'>

##### IV. B. **ii. Example 2**:
1. Assign the question **'Is 5 less than 3?'** to the **variable** named '**z_four**'
2. Have Python answer True or False
3. Have Python state the class (data type) contained in variable '**z_three**'

In [19]:

# Standard format
z_four = ( 5 < 3 )
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [20]:

# Output in a sentence using a string
z_four = ( 5 < 3 )
print('z_four', 'is', z_four, 'and is the', type(z_four))

z_four is False and is the <class 'bool'>

In [21]:

print('Is 5 < 3 True or False?', z_four)

Is 5 < 3 True or False? False

### IV. **C. <u>Logical Negation<u>**
- Invert a <font color="Magenta"> **truth value** </font> of a Boolean expression using the '<font color="GoldenRod"> **not** </font>' operator


- Switching the value of a Boolean by using '<font color="GoldenRod"> **not** </font>'

- If the <font color="Purple"> **expression**</font> is <font color="ForestGreen"> **True** </font> putting a '<font color="GoldenRod"> **not** </font>' operator in front of the <font color="purple"> **expression** </font> will then assign the opposite Boolean value to it
    - '<font color="GoldenRod"> **not** </font> <font color="ForestGreen"> **True** </font>' = <font color="Red"> **False** </font>
    - '<font color="GoldenRod"> **not** </font> <font color="Red"> **False** </font>' = <font color="ForestGreen"> **True** </font>
>
- Examples are in the below code cells:

In [22]:
# Switch z_four from false to true and assign it to a new variable 'z_five'
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

### IV. **D. <u>Type Coercion / Type Conversion<u>**
= Whenever you Multiply a <font color="Magenta"> **Boolean Value** </font> with other Data Types

- It is actually turning the Boolean value into the data type that it is being multiplied by, and usually they are converted to their numeric equivalents

- The numeric equivalents of <font color="Magenta"> **Boolean Values** </font> are as followed:
    - <font color="Red"> **False** </font> = <font color="Red"> **ZERO** </font> = **0**
    - <font color="ForestGreen"> **True** </font> = <font color="ForestGreen"> **ONE** </font> = **1**

The following cells will explore what happens when you multiply a <font color="Magenta"> **Boolean value** </font> by any of the following data types:

1. Integer
2. Float
3. String
4. Boolean

>
>
#### IV. D. **i. <u>Multiplication by <font color="ForestGreen"> True </font> <u>**

When you multiply a **string**, **integer**, **float** by <font color="ForestGreen"> **True** </font> it returns the same answer as if the Boolean wasn't there
- This is basically equivalent to multiplying by **1**
- <font color="ForestGreen"> **True** </font> = **1**

**Examples below in the code cell**:

>
>
##### IV. D. i. **1. <u> Integers:</u>**

In [23]:
# Multiply a POSITIVE integer by True, Notice this causes no change in the print out 
print( 3 * True)
print('Multiply 3 by TRUE =', 3 * True)

3
Multiply 3 by TRUE = 3

In [24]:

# Multiple a NEGATIVE integer by True, Notice this causes no change in the print out
# Like its multiplying by positive 1
print( -3 * True )
print('Multiply -3 by TRUE =', -3 * True)

-3
Multiply -3 by TRUE = -3

>
>
##### IV. D. i. **2. <u> Floats:</u>**

In [25]:
# Multiply a POSITIVE float by True, Notice this causes no change in the print out 
print( 3.851 * True)
print('Multiply 3.851 by TRUE =', 3.851 * True)

3.851
Multiply 3.851 by TRUE = 3.851

In [26]:

# Multiple a NEGATIVE float by True, Notice this causes no change in the print out
# Like its multiplying by positive 1
print( -3.851 * True )
print('Multiply -3.851 by TRUE =', -3.851 * True)

-3.851
Multiply -3.851 by TRUE = -3.851

>
>
##### IV. D. i. **3. <u> String:</u>**

In [27]:
# Notice Multiplying a string by True causes no change in the class identification of this string
print( type( "abc" * True ) )
print('Original string =', 'abc', 'Original class type is', type('abc'))
print('Multiply "abc" by TRUE =', ('abc' * True))
print('New class type is', type('abc' * True))

<class 'str'>
Original string = abc Original class type is <class 'str'>
Multiply "abc" by TRUE = abc
New class type is <class 'str'>

In [28]:

# Notice multiplying a string by True causes no change in the length count
print(len("abc"))
print(len("abc" * True))

3
3

>
>
##### IV. D. i. **4. <u> Booleans:</u>**

In [29]:

print(False)

# Notice Multiplying a Boolean by True doesn't change its value but converts it to its numeric!
print(False * True)

False
0

In [30]:

print(True)

# Notice Multiplying a Boolean by True doesn't change its value but converts it to its numeric!
print(True * True)

True
1

>
>
#### IV. D. **ii. <u>Multiplication by <font color="Red"> False </font> <u>**

>
>
##### IV. D. ii. **1. <u>Integers</u>**
- When you multiply a **integer** by <font color="Red"> **False** </font> it ALWAYS returns <font color="red"> **ZERO** </font>
- No matter if the integer is **POSTIVE** or **NEGATIVE**
    - This is basically equivalent to multiplying by **0**
    - <font color="Red"> **False** </font> = **0**

**Examples below in the code cell**:

In [31]:

# Notice how multiplying a POSITIVE Integer by False results in 0
print(3)
print( 3 * False )

3
0

In [32]:

# Notice how multiplying a NEGATIVE Integer by False results in 0
print(-3)
print( -3 * False )

-3
0

>
>
##### IV. D. ii. **2. <u>Floats:</u>**
- When you multiply a **POSTIVE** **Float** by <font color="red"> **False** </font> it ALWAYS returns <font color="red"> **0.0** </font>
    - No matter the amount of decimal points in the original float the result is always 1 decimal point
- When you multiply a **NEGATIVE** **Float** by <font color="red"> **False** </font> it ALWAYS returns <font color="red"> **NEGATIVE ZERO Float** </font> or <font color="red"> **-0.0** </font>

**Examples below in the code cell**:

In [33]:

# Notice how multiplying a POSITIVE Float by False results in a POSITIVE 0.0 Float
print(3.1)
print( 3.1 * False )

3.1
0.0

In [34]:

# Notice how multiplying a Positive Float with MULTIPLE Decimal Points results 0.0
print(2.12445)
print(2.12445 * False)

2.12445
0.0

In [35]:

# Notice how multiplying a NEGATIVE Float by False results in a NEGATIVE 0.0 Float
print(-3.1)
print( -3.1 * False )

-3.1
-0.0

In [36]:

# Notice how multiplying a Negative Float with MULTIPLE Decimal Points by False results in a NEGATIVE 0.0 Float
print(-2.12445)
print( -2.12445 * False )
print(type(-2.12445 * False ))

-2.12445
-0.0
<class 'float'>

>
>
##### IV. D. ii. **3. <u>String</u>**
When you multiply a **String** by <font color="red"> **False** </font> it ALWAYS returns:
- An **EMPTY** **String**
- A **String** with the **Length** of **ZERO**
- But it does **NOT Change** the **class type** at all
    - Because its still a string, just an empty string but still class string

**Examples below in the code cell**:

In [37]:
# When you multiply a string by FALSE it returns an empty string
# This is best demonstrated below where the FALSE is between two normal print requests
# Here you notice there is a blank output line between the two normal prints because the middle print is multiplied by FALSE
# Therefore there is an empty string that printed in the 2nd line which looks like a blank area
print("abc")
print("abc" * False)
print("def")

abc

def

In [38]:

# Multiplying Length by FALSE results in 0 b/c its an empty string caused by the FALSE which is length 0
print(len("abc"))
print(len("abc" * False))

3
0

In [39]:

# When you multiply a string by FALSE and ask for the class type the correct class type shows
print(type("abc"))
print(type("abc" * False))

<class 'str'>
<class 'str'>

>
>
##### IV. D. ii **4. <u>Boolean</u>**
- When you multiply another **Boolean** by <font color="red"> **False** </font> its like Multiplying by **ZERO**
    - Therefore the answer is always **ZERO**
    - It changes it from the word to the numeric value
>
>      
- When you multiple another **Boolean** by <font color="ForestGreen"> **True** </font> its like Multiplying by **ONE**
    - Depending on the Boolean multiplied by the answer is either **ONE** or **ZERO**
    - It changes it from the word to the numeric value
>
>
- <font color="red"> **False** </font> = <font color="red"> **ZERO** </font> = 0
- <font color="ForestGreen"> **True** </font> = <font color="ForestGreen"> **ONE** </font> = 1

**Examples below in the code cell**:

In [40]:
# When you multiply FALSE by FALSE the answer is ALWAYS ZERO
print(False)
print(False * False)

False
0

In [41]:

# When you multiply True by FALSE the answer is ALWAYS ZERO
# Because FALSE is always 0 and multiply by 0 always = 0
print(True)
print(True * False)

True
0

In [42]:

# Always 0 no matter how many trues involved
print(True * False * True)

0

In [43]:

# When you multiply True by True the answer is 1 because True = 1
print(True)
print(True * True)

True
1

In [44]:

# Always 1 no matter how many trues involved because 1 * 1 * forever is still 1
print(True * True * True)

1

>
>
#### IV. D. **iii. <u>Putting it all together into a practice Question:</u>**
- Kaggle exercise

![Data Types Exercise Question 3 Kaggle Intro to Programming](KaggleDataQuestion3.png)

>
>
### IV. **E. <u>Boolean Arithmetic</u>**
- Adding Boolean value to itself or other **Data Types**
- Again it goes by the fact that **Boolean Values** have NUMERIC EQUIVALENTS:
    - <font color="red"> **False** </font> = <font color="red"> **ZERO** </font> = 0
    - <font color="ForestGreen"> **True** </font> = <font color="ForestGreen"> **ONE** </font> = 1
>
>
- **Examples are in the below code cells:**
    - Some are labeled as well in the print before the equation just for ease of connecting the result to the code cell by putting string , statement of boolean addition want to show

>
>
##### IV. E. **i. Boolean <font color="ForestGreen"> True </font> ADDITION:**
Always = to adding <font color="ForestGreen"> **1** </font> to it as shown below:

In [45]:
# (a) Boolean TRUE added to a POSITIVE Integer is like adding 1 to that integer
print('(a)', 'True + 1 =', True + 1)

# (b) Its the same no matter the location of the Boolean True statement
print('(b)', '1 + True =', 1 + True)

# (c) Should equate to 3 + 1 = 4
print('(c)', '3 + True =', 3 + True)

# (d) Should equate to 3 + 1 + 1 = 5
print('(d)', '3 + True + True =', 3 + True + True)

(a) True + 1 = 2
(b) 1 + True = 2
(c) 3 + True = 4
(d) 3 + True + True = 5

In [46]:

# Boolean TRUE = 1 and so if added to a NEGATIVE Integer its like adding 1 still to that integer
print('-1 + True =', -1 + True)

-1 + True = 0

In [47]:

# Should equate to -2 + 1 = -1
print('-2 + True =', -2 + True)

-2 + True = -1

In [48]:

# Should equate to -4 + 1 + 1 = -2
print('-4 + True + True =', -4 + True + True)

-4 + True + True = -2

In [49]:

# Should equate to 1 + (-1) = 0
print('True - 1 =', True - 1 )

True - 1 = 0

In [50]:

# Boolean TRUE = 1 added to itself is like adding 1 + 1
print('True + True =', True + True)

True + True = 2

In [51]:

# TRUE always ='s 1, so can add many together and its adding many 1's together
print('True + True + True + True =', True + True + True + True)

True + True + True + True = 4

>
>
##### IV. E. **ii. Boolean <font color="Red"> False </font> ADDITION:**
Always = to adding <font color="Red"> **0** </font> to it as shown below:

In [52]:

# Boolean FALSE added to anything is = to adding 0 to it as shown below I have labeled each one as well by putting a string with comma before

# (1) Equates to 1 + 0 = 1
print('(1)' , True + False)

# (2) Equates to 0 + 0 = 0
print('(2)' , False + False)

# (3) Equates to 1 + 1 + 0 = 2
print('(3)' , True + True + False)

# (4) Equates to 0 + 4 = 4
print('(4)' , False + 4)

# (5) Equates to 3 + 0 = 3
print('(5)' , 3 + False)

# (6) Equates to 0 + 1 + 2 + 1 + 1 = 5
print('(6)' , False + True + 2 + True + 1)

(1) 1
(2) 0
(3) 2
(4) 4
(5) 3
(6) 5

>
>
#### IV. E. **iii. <u>Putting it all together into a practice Question</u>**
- Kaggle exercise

##### **The question**
![Data Types Exercise Question 5 Kaggle Intro to Programming](KaggleDataQuestion5.png)

##### IV. E. iii. **1. Initially I made it complicated and got an error**
- This error was because when you do the '**print()**' within a variable you are assigning the variable the return value of the '**print()**' function which, like all Python functions, is **'None'**

- I should have just assigned the length to the variable without using the print function as that would then assign the length of the engraving to to the variable
- ![Image of the Error so not mess up notebook](KaggleDataQuestion5Error.png)

  
- That immediately corrected it and had no error as seen below:
- ![Removed the print from engraving variable](KaggleDataQuestion5Answer.png)

>
>
##### IV. E. iii. **2. The Kaggle people had another way that combined the logical negation lesson. See code cell below as I wanted to perform it myself in this notebook**

In [53]:
# Define the function
def cost_of_project(engraving, solid_gold):
    cost = solid_gold * (100 + 10 * len(engraving)) + (not solid_gold) * (50 + 7 *len(engraving))
    return cost

In [54]:
# Now if you wrote the string 'I love you' which is 10 units
# And it was not solid gold then solid_gold = False and the not will change it to true
# This means the first part is multiplied by 0 and the second by 1 getting the correct answer

Not_Gold_ILU = cost_of_project('I love you', False)
print(Not_Gold_ILU)

120

In [55]:
# Now if you wrote the string 'I love you' which is 10 units
# And it was solid gold then solid_gold = True and the not will change it to false
# This means the first part is multiplied by 1 and the second by 0 getting the correct answer

Gold_ILU = cost_of_project('I love you', True)
print(Gold_ILU)

200

>
>
##### iV. E. iii. **3. Engrave Charlie+Denver on a solid gold ring**
Calculate the cost with the above job and store it in the variable called '*project_one*'

In [56]:
project_one = cost_of_project('Charlie+Denver', True)
print(project_one)

240

>
>
##### IV. E. iii. **4. Engrave 08/10/2000 on a gold plated ring**
Calculate the cost with the above function

In [57]:
project_two = cost_of_project('08/10/2000', False)
print(project_two)

120

## V. **Coding for Beginners pg 26 - 27 examples Put it all together**
Putting it all together based on page 26 and 27 of **Coding for Beginners In Easy Steps 2nd Edition** book examples

In [58]:

race = 'Daytona 500'
kilo = 1000
temp = 98.6
flag = True

In [59]:

# Print what data type is 'Daytona 500' in standard format
print(race)
print(type(race))

Daytona 500
<class 'str'>

In [60]:

# Print what data type is kilo in standard format
print(kilo)
print(type(kilo))

1000
<class 'int'>

In [61]:

# Print what data type is temp standard format
print(temp)
print(type(temp))

98.6
<class 'float'>

In [62]:

# Replace the data contained in the flag variable with a truth statement
flag = 4 > 8
print(flag)

False

## VI. **Strings**
- A data type that is a collection of characters
- Its anything that is on a computer keyboard:
    - " " spaces
    - "," commas
    - "!" exclamation marks = Bang
    - letters
    - numbers
    - symbols
    - special characters
    - AKA anything within the quote marks but excluding the actual quotation marks
    - punctuation, numbers, digits, symbols, characters)
>
>
- Characters of a string are contained in <font color="red"> **quotation marks** </font> either <font color="red"> **' '** </font> or <font color="red"> **" "** </font> contained within a <font color="blue"> **Functions** </font> (**parentheses**) <font color="blue"> **( )** </font>
Commonly used to represent text, especially in a print statement

### VI. **A. <u>Represent text to create a kind of sentence like print statement</u>**

##### VI. A. **i. Example from Kaggle Lesson Intro: Data Types**

In [63]:

# Assign variable w the text Hello, Python! and print it
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

>
>
##### VI. A. **ii. Example from Coding book p 27**

In [64]:
# Print what data type is 'Daytona 500' in 1 sentence
print(race, 'is', type(race))

Daytona 500 is <class 'str'>

In [65]:

# Print what data type is kilo in 1 sentence
print(kilo, 'is', type(kilo))

1000 is <class 'int'>

In [66]:

# Print what data type is temp in 1 sentence
print(temp, 'is', type(temp))

98.6 is <class 'float'>

In [67]:

# Put all those above into a single output in sentence format like the Coding for Beginners book p 27
print(race, 'is', type(race))
print(kilo, 'is', type(kilo))
print(temp, 'is', type(temp))
print(flag, 'is', type(flag))

Daytona 500 is <class 'str'>
1000 is <class 'int'>
98.6 is <class 'float'>
False is <class 'bool'>

### VI. **B. <u>Determining String Length</u>**
You can determine the length of a string by using a built in Python function called 
>
>'<font color="blue"> **len()** </font>'
>
>
Using this function will tell you the **length** of the **string** by ADDING UP all the characters. 
>
>
**<u>Characters counted in this length include:**</u>
- " " spaces
- "," commas
- "!" exclamation marks = Bang
- letters
- numbers
- symbols
- special characters
- AKA anything within the quote marks but excluding the actual quotation marks
>
>

You determine a strings length by putting the <font color="DarkCyan"> **variable name** </font> that contains the string within the '<font color="blue"> **len()** </font>' functions <font color="blue"> **( )**</font> and this in turn is contained in the built-in '<font color="BlueViolet"> **python()** </font>' function of <font color="DodgerBlue"> **print( )**</font>
>
><font color="DodgerBlue"> **print(** </font> <font color="Blue"> **len(** </font> <font color="DarkCyan"> **variable** </font> <font color="Blue"> **)** </font> <font color="DodgerBlue"> **)** </font>

- Can even put the actual string where variable would go as well

##### **Example below in the following code cells:**

In [68]:
# Python tell me the length of the string contained within the 'w' variable
print(w)
print(len(w))

Hello, Python!
14

In [69]:
# Can print length of string even without a variable
print(len('Hello, Python!'))

14

>
>
### VI. **C. <u>Empty Strings</u>**
A fundamental concept in data science and programming tasks when working with text data that represents a string with **zero character length** or **no text**

It literally contains **NOTHING**. 

It doesn't have spaces in between the " or ""

There is nothing inside the string so it looks like <font color="red">**""**</font> or **''**

Its like having an empty box with nothing in it

##### **Example below. You assign an empty string, like all data types, to a variable**

In [70]:

# Create an empty string inside variable 'shortest_string' then type it and length determine it
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

>
>
### VI. **D. <u>Numbers as Text</u>**
You can turn a number from an **integer** or **float** into a **string** just by putting <font color="red"> **" "** </font> or <font color="red"> **' '**</font> around the number. This then turns the number into a string data type.

##### **Example in code cell below:**

In [71]:

# Make the number 1.12321 a string assigned to variable 'my_number', print and type it
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

>
>
### VI. **E. <u>Concatenation</u>**
- Combining two or more **strings** to create a longer string that combines the two original strings into one string

- 'Just like you can add two numbers (**floats** or **integers**), you can also add two strings. It results in a longer string that combines the two original strings by concatenating them'

- This occurs like an arithmetic equation in variable assignment but instead of numbers you are using the <font color="GoldenRod">**+**</font> sign between two **strings** which each have their own **" "** around them

- <font color="GoldenRod">**+**</font> is called the "<font color="GoldenRod">**concatenation operator**</font>"

##### **Example below in the following code cell**

In [72]:

# Create a variable in which you use the concatenation operator to combine two text strings
new_string = "abc" + "def"

# Now print and type it out
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [73]:
# Assign 2 variable strings 
a = "def"
b = "456"

# print string a, labeled
print('a =', a)

# print string a length, labeled
print('a length =', len(a))

# Put a blank space in the output by printing an empty string
print('')

# Print string b, labeled line 1
# Print string b length, labeled line 2
print('b =', b)
print('b length =', len(b))

# Put a blank space in the output by printing an empty string
print('')

# Create new variable that concatenates two typed out strings
newstring = "abc" + "123"

# Create new variable that concatenates the 2 variables each containing stringss
newstring1 = a + b

# Print each variable labeled then length labeled all on separate lines with a blank line between the two variables
print('newstring =', newstring)
print('newstring length =', len(newstring))
print('')
print('newstring1 =', newstring1)
print('newstring1 length =', len(newstring1))

a = def
a length = 3

b = 456
b length = 3

newstring = abc123
newstring length = 6

newstring1 = def456
newstring1 length = 6

>
>
### VI. **F. <u>Repeat</u>**
- You can<font color="red">**NOT** </font> do the **FOLLOWING** with two or more strings together like you can add two or more strings together in concatenation:
    - **Subtract** "<font color="GoldenRod"> **-** </font>"
    - **Divide** "<font color="GoldenRod"> **/** </font>"
    - **Multiply** "<font color="GoldenRod"> * </font>"
>
>
- You can use the the **'<font color="GoldenRod">  * </font>'**  operator to repeat a single string a specified number of times
    - Achieved by assigning a <font color="DarkCyan"> **variable** </font> a single <font color="purple">**string**</font> and in the same <font color="purple">**statement**</font> using **'<font color="GoldenRod">  * </font>'** and then a <font color="Magenta">**number**</font>
    - The <font color="Magenta">**number**</font> you put after the **'<font color="GoldenRod">  * </font>'** specifies the <font color="Magenta"> number of times </font> you want that single string <font color="Magenta"> to be repeated</font>
    - This 'results in a string that's just the original string concatenated with itself a specified number of times'
>
>
> <font color="DarkCyan"> **variable** </font> **=** "<font color="Purple"> String </font>" <font color="GoldenRod"> * </font> <font color="Magenta"> **number** </font>
>
>
##### **Example below in the following code cell**

In [74]:

# Create a variable that contains a string repeated 3 times over
newest_string = "abc" * 3

# Now print and type it out
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

In [75]:
orig = "abc"
threepeatorig = orig * 3
print('orig =', orig)
print('orig length =', len(orig))
print('')
print('threepeatorig =', threepeatorig)
print('threepeatorig length =', len(threepeatorig))

orig = abc
orig length = 3

threepeatorig = abcabcabc
threepeatorig length = 9

>
>
#### VI. F. **i. <u>Using a Float</u>**
- You can<font color="red">**NOT**</font> multiply '**<font color="GoldenRod"> * </font>**' a <font color="purple"> **string** </font> by a **float**
- Trying to do so will return an error
- This error is pictured below since putting it in the notebook as a code cell will cause all following code cells to not run when **Run All** is selected

![Error Message When String Multiplied by Float](KaggleRepeatExample.png)

>
>
### VI. **G. <u>Special Escape Sequences used in Python strings:</u>**
>
>
*From ChatGPT tutorial*
Inspired by these characters use in the *Coding for Beginners* book
>
>
- Used to represent special characters
- You can use them to format text and control how it's displayed when printed from a code cell
    - Kind of like Markdown for Code cells
- Used to represent control characters or escape sequences
- Affect how the text is displayed when it's printed or processed
- They are part of the string's content and are interpreted by the programming language
-  About controlling how text is displayed and processed within the code
>
>

>
>
#### VI. G. **i. <u>Types of special characters 'escape sequences'</u>**

| Code | Special Character Name | Example | Example Output |
| ---- | ---------------------- | ------- | -------------- |
| **'\n'** | Newline Character | <font color="Blue"> **print(** </font> **'\n<font color=magenta>Line 1:</font>'** <font color="Blue"> **,** </font> <font color="magenta"> **'Line 2:'** </font> <font color="blue"> **)** </font> | |
| | | | **Line 1:** |
| | | | **Line 2:** |
| | | | |
| | | | |
| **'\t'** | Single Tab Character | <font color="blue"> **print(** </font> <font color="Magenta"> **'Line 1:** </font> **\t'** <font color="blue"> **,** </font> <font color="magenta"> **'Line 2:'** </font> <font color="blue"> **)** </font> | **Line 1:** TAB (4 spaces b/w them)  **Line 2:** |
| | | Double it with '\t\t' to get 2 tabs |

>
>
## **VII. "Cast" Operations**
>
>
Short for **typecasting** or **typecast** operation

Its a conversion of data type of a <font color="DarkCyan"> **variable** </font>from one data type class to a different data type class

As stated above there are only specific actions that can occur to specific data types.
- You cannot do Arithmetic on a **String** for example, only possible on numeric data types like **integers** and **floats**
- **Concatenation** can **ONLY** be performed on **string** data type

"Python provides several built-in functions that allow you to easily convert data in your programs to a different data type.
- These built-in functions do NOT CONVERT the ORIGINAL specified value itself
- They merely RETURN a CONVERTED REPRESENTATION of its value

| Cast Operation Function | Action (Description) |
| ----------------------- | -------------------- |
| '**int( x )**' | Converts **x** to an ***integer*** whole number |
| '**float( x )**' | Converts **x** to a ***floating***-point number |
| '**str( x )**' | Converts **x** to a **string** representation |

>
>
### VII. **A. <u>Using 'float( x )'</u>**
If you have a <font color="DarkCyan"> **variable** </font> with data in any data type, besides float, that is convertible to a float then you use the '<font color="Blue"> **float()**</font>' function with the name of the <font color="DarkCyan"> **variable** </font> you want to convert to a float within the functions <font color="blue"> **( )** </font>. 

- You can convert any **data type**, that can be represented as a floating-point number, with the 
>'<font color="blue"> **float()** </font>' function. 

- You can<font color="red">**NOT**</font> convert a <font color="purple"> **TEXT string** </font> into a **float** with the '<font color="blue"> **float()** </font>' function . AKA You can**NOT** convert **text-containing strings**
    - like if you attempt to convert a string <font color="purple">**"Hello, Python!"**</font> to a **float** you will get an **error**
>
>

- but you can convert a <font color="purple"> **NUMERIC string** </font> into a **float** with the '<font color="blue"> **float()** </font>' function. This includes:
    - <font color="purple"> **strings** </font> that represent **NUMBERS**
    - **Integers**

>
>
#### VII. A. **i. <u>Convert a numeric containing string to a float</u>**
Above you already classified the <font color="DarkCyan">**variable**</font> called '<font color="DarkCyan">**my_number**</font>' to be a <font color="purple">**str**</font> data type containing the numeric value of "<font color="Magenta">**1.12321**</font>". In the following code cell please convert that numeric string into a **float** data type

In [76]:

# Convert variable 'my_number' that contains a numeric string into the float data type
# Store this converted representation of 'my_number' in a variable called 'also_my_number'
also_my_number = float(my_number)

# Now print it and show the type of the new converted variable, should be float
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

>
>
##### VII. A. i. **1. <u>Practice Exercise 1</u>**

1. Create a <font color="DarkCyan"> **variable**</font> containing the numeric string <font color="purple">**"10.43430"** </font>
2. Print it and type it out to prove its a string
3. <font color="blue"> Convert it to a float </font> data type and assign it to the <font color ="DarkCyan"> **new variable**</font>
4. Print it and type it out to prove its been converted to a float

Do this in the following code cell

In [77]:

# Step 1 and 2

practice_exercise_1 = "10.43430"
print( practice_exercise_1 )
print( type( practice_exercise_1 ))

10.43430
<class 'str'>

In [78]:

# Step 3 and 4, use spaces to make it visually pleasing

practice_exercise_1_converted = float( practice_exercise_1 )
print( practice_exercise_1_converted )
print( type( practice_exercise_1_converted ) )

10.4343
<class 'float'>

>
>
##### VII. A. i. **2. <u>Practice Exercise 2</u>**

1. Create a <font color="DarkCyan"> **variable** </font> containing the numeric string <font color="purple">**"3"**</font>
2. Print it and type it out to prove its a string
3. <font color="blue"> Convert it to a float </font> data type and assign it to the <font color="DarkCyan"> **new variable** </font>
4. Print it and type it out to prove its been converted to a float

Do this in the following code cell

In [79]:

# Create initial string and print and type it
practice_exercise_2 = "3"
print(practice_exercise_2)
print(type(practice_exercise_2))

# Convert it and print and type it
practice_exercise_2_converted = float(practice_exercise_2)
print(practice_exercise_2_converted)
print(type(practice_exercise_2_converted))

3
<class 'str'>
3.0
<class 'float'>

>
>
### VII. **B. <u>Using 'int( x )'</u>**
If you have a <font color="DarkCyan"> **variable** </font> with data in any data type, besides **int**, that is convertible to an **integer** then you use the 
>
>'<font color="Blue"> **int(** </font> <font color="DarkCyan"> **variable** </font> <font color="blue"> **)** </font>' function

with the <font color="DarkCyan"> name of the **variable** you want to convert </font> to an integer within the functions <font color="blue"> **( )**</font>.
>
>
You can convert any **data type**, that can be represented as a whole number without a decimal point, with the '<font color="blue"> **int()** </font>' function. 
>
>
1. Can<font color="red">**NOT**</font> convert a <font color="purple"> **text string** </font> into a **integer**
>
>
2. Can convert a <font color="purple"> **WHOLE NUMBER numeric string** </font> into an **integer**
>
>
4. Can convert <font color="purple"> **strings** </font> that represent <font color="Magenta"> **WHOLE numbers** </font> ONLY with<font color="red">**OUT**</font> a decimal point
>
>
5. Can<font color="red">**NOT**</font> convert a <font color="purple"> **floating-point string** </font>
>
>
6. Can convert **floats**
>
>
7. Can<font color="red">**NOT**</font> convert <font color="purple"> **text-containing strings** </font>
    - like if you attempt to convert a string <font color="purple"> **"Hello, Python!"** </font> to a **int** you will get an **error**

>
>
#### VII. B. **i. <u>Using with Negative Floats</u>**
When you use '<font color="blue">**int()**</font>' function with <font color="red">**NEGATIVE**</font> float it will always <font color="red">Round **UP**</font> to the closest integer

**Examples below**

In [80]:
print( int( -1.1234 ) )

-1

In [81]:

# Despite -1.9574 being closer to -2 Python its standard to round UP to -1 as shown below for NEGATIVE floats
print(int(-1.9574))

-1

>
>
#### VII. B. **ii. <u>Using with Positive Floats</u>**
When you use '<font color="blue">**int()**</font>' function with <font color="LimeGreen">**POSITIVE** </font> float it will always <font color="LimeGreen">Round **DOWN**</font> to the closest integer

**Examples below**

In [82]:
print(int(2.1))

2

In [83]:

# Despite 2.945 being closer to 3 Python its standard to round DOWN to 2 as shown below for POSTIVE floats 
print(int(2.945))

2

>
>
##### VII. B. ii. **1. <u>Practice Exercise 1</u>**
Convert the variable from above '<font color="DarkCyan"> **practice_exercise_1** </font>' into a **integer**

**HINT** In order to achieve this you have to first convert the <font color="purple"> **floating-point string** </font> into a float data type before you can use the '<font color="blue"> **int()** </font>' function to convert it to an integer.

Use the below code cell

In [84]:
# (1) Convert variable to a float, this was already acheived with the variable 'practice_exercise_1_converted'
practice_exercise_1_converted = float( practice_exercise_1 )
print( practice_exercise_1_converted )
print( type( practice_exercise_1_converted ) )

# (2) Convert the float into an integer and assign it to a new variable
prac_ex_1_converted = int( practice_exercise_1_converted )
print( prac_ex_1_converted )
print( type( prac_ex_1_converted ) )

10.4343
<class 'float'>
10
<class 'int'>

>
>
##### VII. B. ii. **2. <u>Practice Exercise 2</u>**
1. Define <font color="DarkCyan"> **variable** </font> named <font color="DarkCyan"> **y** </font> with the float number "<font color="Magenta"> **1.** </font>"
2. then convert it to an integer. Please ensure you print and type before your convert and after you convert

Do this in the code cell below

In [85]:
# Define a float
y = 1.
print( y )
print( type( y ) )

1.0
<class 'float'>

In [86]:
# Convert float to integer
z = int( y )
print( z )
print( type( z ) )

1
<class 'int'>

In [87]:

# Make 2 variables with strings that are also numbers
num1 = '3'
num2 = '9'
print('Input is:', type(num1), type(num2))

Input is: <class 'str'> <class 'str'>

In [88]:

# This concatenates the 2 strings a single string 3 combined with 9 is 39 and it stays a string
total = num1 + num2
print('Total Strings is:', total, type(total))

Total Strings is: 39 <class 'str'>

In [89]:

# Convert the string numbers into integers and add them together, print and type
total = int(num1) + int(num2)
print('Total Integers is:', total, type(total))

Total Integers is: 12 <class 'int'>

In [90]:

# Convert the strings to floats and add them together, print and type
total = float(num1) + float(num2)
print('Total Float is:', total, type(total))

Total Float is: 12.0 <class 'float'>

#### 1. **Example 1**
Lets say you are working with another programmer and they assigned numeric values to variables by the built-in '<font color="blue">**input()**</font>' function (To be discussed another time). 

##### a. **<u>What does that mean?<u>**
    The numeric values in these coder-defined variables that were assigned using the 'input()' function are considered by Python to be the STRING Data Type

    
##### b. **<u>Can you do arithmetic with these variables immediately? Why or why not?**
    You canNOT do arithemtic with the (str) string data type. 
    You must first CONVERT(cast) the variable to an appropriate numeric type: integer (int) or float (float)

#### 2. **Example 2**
Lets say you are wanting to use numeric values assigned to a variable manually in your code to be concatenated into a string 

##### a. <u>**What does that mean?**</u>
- The numeric values are automatically appointed the appropriate data type of int or float by the Python Program.
- You **canNOT concatenate** a numeric data type into a string
- Only the ***str*** data type can be concatenated into a string
- Therefore you have to convert it to a string with the '***str()***' function