In [1]:
def getpay(numhours):
    pretax = numhours * 15
    aftertax = pretax * (1 - 0.12)
    return aftertax

In [2]:
fulltime = getpay(40)
print(fulltime)

528.0

In [3]:
partime = getpay(32)
print(partime)

422.4

In [4]:
pay10 = getpay(10)
print(pay10)

132.0

In [5]:
def getpaydetailed(numhours, hourlywage, taxbracket):
    pretax = numhours * hourlywage
    aftertax = pretax * (1 - taxbracket)
    return aftertax

In [6]:
fulltime = getpaydetailed(40, 24, 0.22)
print(fulltime)

748.8000000000001

In [7]:
fulltime = getpaydetailed(40, 15, 0.12)
print(fulltime)

528.0

In [8]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

In [9]:
nearly_pi = 3.14159265
print(nearly_pi)
print(type(nearly_pi))

3.14159265
<class 'float'>

In [10]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [11]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [12]:
import math
test_value = 2.17
rounded_value = math.ceil(test_value)
print(test_value)
print(rounded_value)

2.17
3

In [13]:
almost_pi = 22 / 7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [14]:
roundedpi = round(almost_pi, 5)
print(roundedpi)
print(type(roundedpi))

3.14286
<class 'float'>

In [15]:
race = 'Daytona 500'
print('race:', race)
print('data type:', race)

race: Daytona 500
data type: Daytona 500

In [16]:
print(race, type(race))

Daytona 500 <class 'str'>

In [17]:
z_one = True
print(z_one, 'is', type(z_one))

True is <class 'bool'>

In [18]:
z_two = False
print(z_two)
print(z_two, 'is', type(z_two))

False
False is <class 'bool'>

In [19]:
z_three = (1 < 2)
print(z_three)
print(z_three, 'is', type(z_three))

True
True is <class 'bool'>

In [20]:
z_four = (5 < 3)
print(z_four)
print('z_four', 'is', z_four, 'which is data', type(z_four))

False
z_four is False which is data <class 'bool'>

In [21]:
print('Is 5 < 3 True or False?', z_four)

Is 5 < 3 True or False? False

In [22]:
z_five = not z_four
print('original value of z_four is:', z_four)
print('z_five is not z_four therefore z_five is:', z_five)

original value of z_four is: False
z_five is not z_four therefore z_five is: True

In [23]:
print('"abc" alone =', "abc")
print('"abc" * False =', ("abc" * False))

"abc" alone = abc
"abc" * False =

In [24]:
def get_expected_cost(beds, baths, basement):
    value = 80000 + (beds * 30000) + (baths * 10000) + (basement * 40000)
    return value

In [25]:
b1b1f = get_expected_cost(1, 1, False)
print(b1b1f)

120000

In [26]:
b2b1t = get_expected_cost(2, 1, True)
print(b2b1t)

190000

In [27]:
print(True + False)

1

In [28]:
print(False + False)

0

In [29]:
print(True + True + False)

2

In [30]:
print(False + 4)

4

In [31]:
print(3 + False)

3

In [32]:
print(False + True + 2 + True + 1)

5

In [33]:
def projectcost(engraving, gold):
    cost = 50 + (50 * gold) + (len(engraving) * 7) + (gold * (len(engraving) * 3))
    return cost

In [34]:
tengold = projectcost("abcdefghijk", True)
print(tengold)

210

In [35]:
love = projectcost("I love you", False)
print(love)

120

In [36]:
def costproject(engraving, gold):
    cost = gold * (100 + 10 * len(engraving)) + (not gold) * (50 + 7 * len(engraving))
    return cost

In [37]:
love1 = costproject("I love you", False)
print(love1)

120

In [38]:
goldlove = projectcost("I love you", True)
print(goldlove)
goldlove1 = costproject("I love you", True)
print(goldlove1)

200
200

In [39]:
project1 = projectcost("Charlie+Denver", True)
print(project1)
project1b = costproject("Charlie+Denver", True)
print(project1b)

240
240

In [40]:
project2 = projectcost('08/10/2000', False)
print(project2)
project2b = costproject('08/10/2000', False)
print(project2b)

120
120

In [41]:
race = 'Daytona 500'
kilo = 1000
temp = 98.6
flag = True

print(race, 'is', type(race))
print(kilo, 'is', type(kilo))
print(temp, 'is', type(temp))
print(flag, 'is', type(flag))

Daytona 500 is <class 'str'>
1000 is <class 'int'>
98.6 is <class 'float'>
True is <class 'bool'>

In [42]:
flag = 4 > 8
print('4 > 8 =', flag)

4 > 8 = False

In [43]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [44]:
shorteststring=""
print(shorteststring)
print(len(shorteststring))

0

In [45]:
mynumber = '1.12321'
print('mynumber =', mynumber)
print(type(mynumber))
print('length =', len(mynumber))

mynumber = 1.12321
<class 'str'>
length = 7

In [46]:
a = "def"
b = "456"
print('a =', a)
print('a length =', len(a))
print('')
print('b =', b)
print('b length =', len(b))
print('')
newstring = "abc" + "123"
newstring1 = a + b
print('newstring =', newstring)
print('newstring length =', len(newstring))
print('')
print('newstring1 =', newstring1)
print('newstring1 length =', len(newstring1))

a = def
a length = 3

b = 456
b length = 3

newstring = abc123
newstring length = 6

newstring1 = def456
newstring1 length = 6

In [47]:
threepeat = "abc" * 3
print(threepeat)
print(len(threepeat))

abcabcabc
9

In [48]:
orig = "abc"
threepeatorig = orig * 3
print('orig =', orig)
print('orig length =', len(orig))
print('')
print('threepeatorig =', threepeatorig)
print('threepeatorig length =', len(threepeatorig))

orig = abc
orig length = 3

threepeatorig = abcabcabc
threepeatorig length = 9

In [49]:
print(mynumber, type(mynumber))

1.12321 <class 'str'>

In [50]:
also_my_number = float(mynumber)
print(mynumber, type(mynumber))
print("")
print(also_my_number, type(also_my_number))

1.12321 <class 'str'>

1.12321 <class 'float'>

In [51]:
practice1 = "10.43430"
print('practice1 =', practice1)
print('practice1 type =', type(practice1))
print('')
practice1float = float(practice1)
print('practice1float =', practice1float)
print('practice1float type =', type(practice1float))

practice1 = 10.43430
practice1 type = <class 'str'>

practice1float = 10.4343
practice1float type = <class 'float'>

In [52]:
practice2 = "3"
print('practice2 orig =', practice2)
print('practice 2 orig type =', type(practice2))
print('')
practice2float = float(practice2)
print('practice2float =', practice2float)
print('practice2float type =', practice2float)

practice2 orig = 3
practice 2 orig type = <class 'str'>

practice2float = 3.0
practice2float type = 3.0

In [53]:
print( int( -1.1234) )

-1

In [54]:
print( int( -2.123) )

-2

In [55]:
print( int( -2.67) )

-2

In [56]:
print( int( -1.4) )

-1

In [57]:
print( int( -1.1))

-1

In [58]:
print(practice1)

10.43430

In [59]:
prac1 = float(practice1)
print(prac1)

10.4343

In [60]:
print(type(prac1))

<class 'float'>

In [61]:
prac1a = int(prac1)
print(prac1a)
print(type(prac1a))

10
<class 'int'>

In [62]:
y = 1.
print(y)
print(type(y))
z = int(y)
print(z)
print(type(z))

1.0
<class 'float'>
1
<class 'int'>

In [63]:
num1 = '3'
num2 = '9'
print(type(num1), type(num2))

<class 'str'> <class 'str'>

In [64]:
num1int = int(num1)
print(num1int, type(num1int))

3 <class 'int'>

In [65]:
num2int = int(num2)
print(num2int, type(num2int))

9 <class 'int'>

In [66]:
print(num1int)
print(num2int)
total = num1int + num2int
print(total, type(total))

3
9
12 <class 'int'>

In [67]:
print('type num1 =', type(num1))
print('type num2 =', type(num2)) 

num1f = float(num1)
num2f = float(num2)
total = num1f + num2f
print(total, type(total))

type num1 = <class 'str'>
type num2 = <class 'str'>
12.0 <class 'float'>

In [68]:
def addfive(integer):
    value = integer + 5
    return value

In [69]:
value = addfive(5)
print(value)

10

In [70]:
print('7 + 5 =', addfive(7))

7 + 5 = 12

In [71]:
print('10 + 5 =', addfive(10))

10 + 5 = 15

In [72]:
a = 8
b = 4

print('Assign numerical values to variables a and b')
print('a =', a)
print('b =', b)

Assign numerical values to variables a and b
a = 8
b = 4

In [73]:

# Add and assign a new value to the first variable a and display its stored value
print('original a =', a)
print('original b =', b)
a += b
print('a += b results in a + b =', a, '= the new value of a')

original a = 8
original b = 4
a += b results in a + b = 12 = the new value of a

In [74]:

def add_five(number):
    output = number + 5
    return output

print(add_five(5))

10

In [75]:
print('7 + 5 =', add_five(7))

7 + 5 = 12

In [76]:
def add_three_or_eight(integer):
    if integer < 10:
        value = integer + 3
    else:
        value = integer + 8
    return value

print('7 + 3 =', add_three_or_eight(7))
print('10 + 8 =', add_three_or_eight(10))

7 + 3 = 10
10 + 8 = 18

In [77]:
print("Is 2 greater than 3?", 2 > 3)

Is 2 greater than 3? False

In [78]:
var_one = 1
print("Value of 'var_one' =", var_one)

var_two = 2
print("Value of 'var_two' =", var_two)

print("Is 'var_one' GREATER than 'var_two'? :", var_one > var_two)

Value of 'var_one' = 1
Value of 'var_two' = 2
Is 'var_one' GREATER than 'var_two'? : False

In [79]:
print("Is 'var_one' LESS than 1? :", var_one < 1)

Is 'var_one' LESS than 1? : False

In [80]:
print("Is 'var_one' LESS than or EQUAL to 1? :", var_one <= 1)

Is 'var_one' LESS than or EQUAL to 1? : True

In [81]:
print("Is 'var_two' GREATER than 'var_one'? :", var_two > var_one)

Is 'var_two' GREATER than 'var_one'? : True

In [82]:
print("Is 'var_two' GREATER than 2? :", var_two > 2)

Is 'var_two' GREATER than 2? : False

In [83]:
print("Is 'var_two' GREATER than or EQUAL to 2? :", var_two >= 2)

Is 'var_two' GREATER than or EQUAL to 2? : True

In [84]:
print("Is 'var_one' equal to 1? :", var_one == 1)

Is 'var_one' equal to 1? : True

In [85]:
print("Is 'var_two' equal to 2? :", var_two == 2)

Is 'var_two' equal to 2? : True

In [86]:
print("Is 'var_two' equal to 2? :", var_two == 2)

Is 'var_two' equal to 2? : True

In [87]:
print("Is 'var_two' NOT Equal to 2? :", var_two != 2)

Is 'var_two' NOT Equal to 2? : False

In [88]:
print("Is 'var_two' NOT Equal to 1? :", var_two != 1)

Is 'var_two' NOT Equal to 1? : True

In [89]:
a = 8
print('a =', a)

b = 4
print('b =', b)

print()

a += b
print('a += b is', a, "reassigning the value of 'a' to be a + b which ='s:", a)
print()
print("new value of 'a' =", a)

a = 8
b = 4

a += b is 12 reassigning the value of 'a' to be a + b which ='s: 12

new value of 'a' = 12

In [90]:
y = 1
print('y =', y)
print()
y += 5
print("y += 5 makes 'y' = to y + 5 =", y)
print()
print("New value of 'y' =", y)

y = 1

y += 5 makes 'y' = to y + 5 = 6

New value of 'y' = 6

In [91]:
print('a =', a)
print('b =', b)
a -= b
print()
print("a -= b is", a)

a = 12
b = 4

a -= b is 8

In [92]:
z = 100
print('z =', z)
print()
z -= 3
print('z -= 3 is', z)

z = 100

z -= 3 is 97

In [93]:
print(1 + 2)

3

In [94]:
print(z - 3)

94

In [95]:
print('a =', a)
print('b =', b)
print()
a *= b
print('a *= b is', a)

a = 8
b = 4

a *= b is 32

In [96]:
print('a =', a)
print()
a *= 2
print('a *= 2 is', a)

a = 32

a *= 2 is 64

In [97]:
print('a =', a)
print('b =', b)
print()
print('a /= b is', a, '/', b)
a /= b
print('a /= b is', a)

a = 64
b = 4

a /= b is 64 / 4
a /= b is 16.0

In [98]:
print('b =', b)
print()
print('b /= 4 is', b, '/ 4')
b /= 4
print('b /= 4 is', b)

b = 4

b /= 4 is 4 / 4
b /= 4 is 1.0

In [99]:
print('a =', a)
print('b =', b)
print()
print('a %= b is', a, '%', b)
a %= b
print('The remainder of 16 / 1, aka a %= b is', a)

a = 16.0
b = 1.0

a %= b is 16.0 % 1.0
The remainder of 16 / 1, aka a %= b is 0.0

In [100]:
print('a =', a)
print('b =', b)
print()
print('a / b =', a / b)
print('a //= b is', a, '//', b)
a //= b
print('The integer only answer to 0 / 1, aka a //= b is', a)

a = 0.0
b = 1.0

a / b = 0.0
a //= b is 0.0 // 1.0
The integer only answer to 0 / 1, aka a //= b is 0.0

In [101]:
print('a =', a)
print()
a **= 3
print('a **= 3 is a to the power of 3 =', a)

a = 0.0

a **= 3 is a to the power of 3 = 0.0

In [102]:
print('b =', b)
b += 5
print('b += 5 is', b)

b = 1.0
b += 5 is 6.0

In [103]:
print('b =', b)
print()
b **= 3
print('b to the power of 3 is b **= 3 is', b)

b = 6.0

b to the power of 3 is b **= 3 is 216.0

In [104]:
6 * 6 * 6

216

In [105]:
x = 2 > 1
print('x =', x)

y = 4 > 1
print('y =', y)
print()
print('x and y =', x and y)
print('not x and y =', not x and y)

x = True
y = True

x and y = True
not x and y = False

In [106]:
print('x =', x)
print('y =', y)
print()
print('x or y =', x or y)
print('not x or y =', not x or y)

x = True
y = True

x or y = True
not x or y = True

In [107]:
print('x =', x)
print('not x =', not x)
print()
print('y =', y)
print('not y =', not y)

x = True
not x = False

y = True
not y = False

In [108]:
print('y =', y)
y = not y
print('assign y to be not y changing it from True to', y)

y = True
assign y to be not y changing it from True to False

In [109]:
def evaluate_temp(temp):
    message = "Normal temperature."
    if temp > 38:
        message = "Fever!"
    return message

print(evaluate_temp(38))
print(evaluate_temp(39))

Normal temperature.
Fever!

In [110]:
print(evaluate_temp(37))

Normal temperature.

In [111]:
def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

print(evaluate_temp_with_else(39))
print(evaluate_temp_with_else(38))
print(evaluate_temp_with_else(37))

Fever!
Normal temperature.
Normal temperature.

In [112]:
def get_taxes(income):
    if income < 12000:
        tax_owed = income * 0.25
    else:
        tax_owed = income * 0.30
    return tax_owed

print('taxes owed for $ 11,999 income = $', get_taxes(11999))
print(11999 * 0.25)
print()
print('taxes owed for $ 12,000 income = $', get_taxes(12000))
print(12000 * 0.30)
print()
print('taxes owed for $12,001 income = $', get_taxes(12001))
print(12001 * 0.30)

taxes owed for $ 11,999 income = $ 2999.75
2999.75

taxes owed for $ 12,000 income = $ 3600.0
3600.0

taxes owed for $12,001 income = $ 3600.2999999999997
3600.2999999999997

In [113]:
def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

print('Temp 36 C =', evaluate_temp_with_elif(36))
print('Temp 34 C =', evaluate_temp_with_elif(34))
print('Temp 35 C =', evaluate_temp_with_elif(35))
print('Temp 38 C =', evaluate_temp_with_elif(38))
print('Temp 39 C =', evaluate_temp_with_elif(39))

Temp 36 C = Normal temperature.
Temp 34 C = Low temperature.
Temp 35 C = Low temperature.
Temp 38 C = Normal temperature.
Temp 39 C = Fever!

In [114]:
# Create a multiple elif code for medicine based
def get_dose(kg):
    if kg < 5.2:
        dose = 1.25
    elif kg < 7.9:
        dose = 2.5
    elif kg < 10.4:
        dose = 3.75
    elif kg < 15.9:
        dose = 5
    elif kg < 21.2:
        dose = 7.5
    else:
        dose = 10
    return dose

print('Kid 5.1 kg dose =', get_dose(5.1))
print('Kid 5.2 kg dose =', get_dose(5.2))
print('Kid 7 kg dose =', get_dose(7))
print('Kid 7.9 kg dose =', get_dose(7.9))
print('Kid 10.3 kg dose =', get_dose(10.3))
print('Kid 10.4 kg dose =', get_dose(10.4))
print('Kid 15 kg dose =', get_dose (15))
print('Kid is 15.9 kg dose =', get_dose(15.9))
print('Kid is 21 kg dose =', get_dose(21))
print('Kid is 21.2 kg dose =', get_dose(21.2))
print('Kid is 30 kg dose =', get_dose(30))

Kid 5.1 kg dose = 1.25
Kid 5.2 kg dose = 2.5
Kid 7 kg dose = 2.5
Kid 7.9 kg dose = 3.75
Kid 10.3 kg dose = 3.75
Kid 10.4 kg dose = 5
Kid 15 kg dose = 5
Kid is 15.9 kg dose = 7.5
Kid is 21 kg dose = 7.5
Kid is 21.2 kg dose = 10
Kid is 30 kg dose = 10

In [115]:
# Create a function that tells you letter grade based on integer grade
def letter_grade(grade):
    if grade > 97:
        letter = "A+"
    elif grade > 94:
        letter = "A"
    elif grade > 89:
        letter = "A-"
    elif grade > 87:
        letter = "B+"
    elif grade > 84:
        letter = "B"
    elif grade > 79:
        letter = "B-"
    elif grade > 77:
        letter = "C+"
    elif grade > 74:
        letter = "C"
    elif grade > 69:
        letter = "C-"
    else:
        letter = "F"
    return letter

print('Grade of 98 =', letter_grade(98))
print('Grade of 97 =', letter_grade(97))
print('Grade of 94 =', letter_grade(94))
print('Grade of 90 =', letter_grade(90))
print('Grade of 89 =', letter_grade(89))
print('Grade of 87 =', letter_grade(87))
print('Grade of 84 =', letter_grade(84))
print('Grade of 79 =', letter_grade(79))
print('Grade of 77 =', letter_grade(77))
print('Grade of 74 =', letter_grade(74))
print('Grade of 69 or less =', letter_grade(69))

Grade of 98 = A+
Grade of 97 = A
Grade of 94 = A-
Grade of 90 = A-
Grade of 89 = B+
Grade of 87 = B
Grade of 84 = B-
Grade of 79 = C+
Grade of 77 = C
Grade of 74 = C-
Grade of 69 or less = F

In [116]:
def add_three_or_eight(integer):
    if integer < 10:
        value = integer + 3
    else:
        value = integer + 8
    return value

print(add_three_or_eight(9))
print(add_three_or_eight(10))

12
18

In [117]:
integer = 7
value = (integer + 3) if (integer < 10) else value (integer + 8)
print(value)

10

In [118]:
flowers_string = "pink primose, hard"
print(type(flowers_string))
print(flowers_string)

<class 'str'>
pink primose, hard

In [119]:
# Define list
flowers_list = [ "pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

# print list and label 
print( 'flowers_list contains:', flowers_list)

# blank for clarity
print()

# print type and label then blank for clarity
print( 'flowers_list is datatype:', type( flowers_list ) )
print()

# print length and label then blank for clarity
print( 'flowers_list contains', len( flowers_list ), 'flower species' )
print()

flowers_list contains: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

flowers_list is datatype: <class 'list'>

flowers_list contains 10 flower species

In [120]:
# List the hardcover sales and label
hardcover_sales = [ 139 , 128 , 172 , 139 , 191 , 168 , 170 ]

# Print this and label and blank
print( 'Hardcover Sales for April 2000 in a retail store are as follows:', hardcover_sales )
print()

# Print type and label and blank
print( "The 'hardcover_sales' variable is data type:", type( hardcover_sales) )
print()

# Print length and label and blank
print( "'hardcover_sales' contains", len( hardcover_sales), "sales" )
print()

Hardcover Sales for April 2000 in a retail store are as follows: [139, 128, 172, 139, 191, 168, 170]

The 'hardcover_sales' variable is data type: <class 'list'>

'hardcover_sales' contains 7 sales

In [121]:
# Reprint the flowers list, label and blank
print( 'Flowers List contains the following:', flowers_list)
print()

# Print length, label and blank
print( 'Flowers List contains', len( flowers_list ), 'flower names' )
print()

# Print first entry, label
print( 'First entry:', flowers_list[0] )

# Print 2nd entry, label
print( 'Second entry:', flowers_list[1] )

# Print last entry, label
print( 'Final entry:', flowers_list[9] )

Flowers List contains the following: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

Flowers List contains 10 flower names

First entry: pink primrose
Second entry: hard-leaved pocket orchid
Final entry: globe thistle

In [122]:

# Hardcover sales reprint list, label, blank
print( 'Hardcover sales list contains:', hardcover_sales )
print()

# Length, label, blank
print( 'Hardcover sales list contains:', len( hardcover_sales ), 'items' )
print()

# First entry, label
print( 'First Entry:', hardcover_sales[0] )

# Second entry, label
print( 'Second Entry:', hardcover_sales[1] )

# Final entry, label
print( 'Final Entry:', hardcover_sales[6] )

Hardcover sales list contains: [139, 128, 172, 139, 191, 168, 170]

Hardcover sales list contains: 7 items

First Entry: 139
Second Entry: 128
Final Entry: 170

In [123]:

# Reprint flower list, label, blank
print( 'Flowers List contains:', flowers_list )
print()

# Reprint leng, label, blank
print( 'Flowers List contains:', len(flowers_list), 'flower names')
print()

# Slice the first 3 out, label
print( 'First 3 Items:', flowers_list[:3] )

# Print new length, label and blank
print( 'New Length:', len(flowers_list) )
print()

# Slice last 2 out, label
print( 'Last 2 Items:', flowers_list[-2:] )

# Print new length
print( 'New Length:', len(flowers_list) )

Flowers List contains: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

Flowers List contains: 10 flower names

First 3 Items: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']
New Length: 10

Last 2 Items: ['monkshood', 'globe thistle']
New Length: 10

In [124]:

# Reprint hardcover sales, label and blank
print( 'Hardcover sales contains:', hardcover_sales)
print()

# Slice out first 3, label
print( 'First 3 Entries:', hardcover_sales[:3] )

# Slice out last 2, label
print( 'Last 2 Entries:', hardcover_sales[-2:] )

Hardcover sales contains: [139, 128, 172, 139, 191, 168, 170]

First 3 Entries: [139, 128, 172]
Last 2 Entries: [168, 170]

In [125]:
# Reprint flowers list, label, blank
print( 'Flowers List Contains:', flowers_list )
print()

# Print original length of flowers list, label and blank
print( 'FLowers List Original Length =', len( flowers_list ) )
print()

# Remove Globethistle
flowers_list.remove("globe thistle")

# Print new list, label, blank
print( 'List withOUT Globe Thistle:', flowers_list)
print()

# Print new length, label and blank
print( 'New Length withOUT Globe Thistle =', len( flowers_list ) )

Flowers List Contains: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

FLowers List Original Length = 10

List withOUT Globe Thistle: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

New Length withOUT Globe Thistle = 9

In [126]:

# Create Boolean list
randomfacts = [ True, False, True, True ]
print('randomfacts contains:', randomfacts )
print('Original Length =', len(randomfacts))

# Remove first true
randomfacts.remove(True)
print('Without 1st True:', randomfacts)
print('New Length =', len(randomfacts) )

randomfacts contains: [True, False, True, True]
Original Length = 4
Without 1st True: [False, True, True]
New Length = 3

In [128]:
print('Current flowers list contains:', flowers_list)
print()
print('Current length =', len(flowers_list))
print()
print()
flowers_list.append("snap dragon")
print('New Flowers List with Snap Dragon Added:', flowers_list)
print()
print('New length =', len(flowers_list) )

Current flowers list contains: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snap dragon']

Current length = 10


New Flowers List with Snap Dragon Added: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snap dragon', 'snap dragon']

New length = 11

In [1]:
import math
result = math.sqrt(6)

In [2]:
print(result)

2.449489742783178

In [3]:
6*6

36

In [4]:
15/39

0.38461538461538464