# Introduction to Programming Kaggle Course
#### Notes and practice from course
###### <u>*The following rules for references apply in markdown notes*<u>
###### - *Things in "quotes" in markdown are direct quotes from ***Coding for Beginner's In Easy Steps 2nd Edition*** book*
###### - *Things in 'quotes' in markdown are direct quotes from ***Kaggle Course*** okay*

# <u>**Arithmetic and Variables**<u>

## **Printing**

In [1]:
# Remember all commands are case-sensitive in python
# Ask computer to print message for us by writing the message inside the parentheses of the print() commands
# Message (also called a text string) within the ( ) must have " " or ' ' around it
# Standard first thing you print in a language is hello world
print('Hello World!')

Hello World!

## **Arithmetic**

| Operator | Operation |
| ---- | --- |
| **+** | Addition |
| **-** | Subtraction |
| * | Multiplication |
| **/** | Division |
| **%** | Modulus (Remainder) |
| **//** | Floor Division |
| ** | Exponent |

- Order of operations is the same as **PEMDAS**
>
>
| Letter | Meaning |
| --- | --- |
| **P** | **P**arentheses |
| **E** | **E**xponents |
| **M** | **M**ultiplication |
| **D** | **D**ivision |
| **A** | **A**ddition |
| **S** | **S**ubtraction |
>
>

#### ***Operands***
- "***Values*** used with ***operators*** to form ***expressions*** are called ***OPERANDS***
- In the ***expression 2 + 3*** the numerical ***values*** *2* and *3* are the ***Operands***

| Value | Name |
| ---- | ---- |
| **2 + 3** | Expression |
| in *2 + 3* name what **+** is called | Operator = Oper**ATOR** |
| in *2 + 3* name what **2** is called | Operand = Oper**AND** |

### **Addition**

In [2]:
# Addition is done as follows
print(1 + 2)

3

In [3]:
# If you say print("1 + 2") with quotes it will think you are saying the message "1 + 2"
# See for yourself
print("1 + 2")

1 + 2

### **Subtraction**

In [4]:
# Subtraction is done as follows
print(9 - 5)

4

### **Multiplication**

In [5]:
# Multiplication is done as follows
print(2 * 4)

8

### **Division**

In [6]:
# Division is done as follows. This divides the 1st number by the 2nd number
print(6 / 3)

2.0

### **Modulus (Remainder)**

In [7]:
# Remainder operator divides the 1st number by the 2nd number and returns the remainder of the operation
# If there is no remainder then the output will be 0
print(8 % 2)

# If it does not divide evenly it will output the remainder
# Here I did the division so you know the answer of the full equation
# Then I did the modulus to show that the remainder is 2 which is where the floating decimel comes after the 4
print(14 / 3)
print(14 % 3)

0
4.666666666666667
2

#### <u>***Modulus helps you determine if a number is odd or even***<u>
- If you divide a number by 2 with the '%' then you can determine if its odd or even from the output
- 'print(x % 2)' 

| Even Number % 2 | Result |
| ---- | ---- |
| print(even number % 2) | 0 |
| printe(odd number % 2) | 1 |

In [8]:
# Prove 4 is even. If output is 0 then it is even
print(4 % 2)

0

In [9]:
# Prove 3 is odd. If output is 1 then it is odd
print(3 % 2)

1

### **Floor Division**
Performs just like division **'/'** but it truncates (*removes*) the result at the decimal point

This removes any **floating point part** from the resulting number

Example will show you what output is for normal division then how it differs with floor division
- You can see that **normal division** has a ***long decimal float*** at the end ( = **2.6666 etc**)
- While **floor division** just has the **whole integer** and ***ignores the decimal*** ( = **2**) but it doesn't round it so its not accurate answer to the division question
    - Its helpful when want to split things up in equal parts like 7 apples among 3 people
    - Its also helpful for indexing lists or arrys when you want to find the position of an element (*discussed in other future lessons*)

In [10]:
# Output for normal division will appear here
print(8 / 3)

2.6666666666666665

In [11]:
# Output for floor division will appear here
print(8 // 3)

2

In [12]:
# Helpful when want to split things up in equal parts
# How many apples does each person get if there are 7 apples and 3 people? 
print('How many apples does each person get:', 7 // 3)

# Floor division showed that each person got 2 apples
# Using Modulus you can then see how many apples are left over
print('How many apples is left over?:', 7 % 3)

How many apples does each person get: 2
How many apples is left over?: 1

### **Exponent**

In [13]:
# Exponent is done as follows
print(3 ** 2)

9

### **Order of Operations**

In [14]:
# Order of operations in Python follows the PEMDAS rule = Parentheses Exponents Multiplication Division Addition Subtraction
# Control order of operations in long calculations with parentheses
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

## **Comments**

This is a comment that helps to annotate your code to help other people to understand your code
    1. Once Python sees the hastag and space then it ignores what comes after it
    2. Python language is very strict and is stricter than a human listener and if it doesn't understand a code it will do an error
    3. Example of an error when you do inaccurate code that is not in the Python language, the computer can't understand you so it outputs and error

    - Multiply 3 by 2

Will output an error and will stop the run of the notebook so even if I choose run all cells it will halt at this cell if a code fcell so cannot have erro's in my notebook to prove a lesson sadly

### **Uncommenting**
= The term for the action of when you remove the **#** from in front of a ***comment*** in a ***code cell***

## **Variables**

You use variables as a way to save the result of a 'print()' to work with it later

- A ***variable*** is a **simple data structure** that is essentially a box that you use to store ***data values***

- "When creating a ***variable*** you give it a name of your choice -*subject to the naming conventions of the programming language*- that acts like a label on a box"

- "The ***data item*** stored within the ***variable*** can subsequently be retrieved using its given name"


Allows only a **SINGLE Item of Data** to be stored for use by a program


You **name** the ***variable*** then you use the **=** to **ASSIGN** the **VALUE** that you want the ***variable*** you just named to have. 
- AKA the **=** assigns the ***data item*** to the ***variable***

#### <u>**How do you choose variable names**<u>
    
- Ideally short
- Yet descriptive
    - "reflect the nature of the **variable** content"
- Can **NOT** have spaces
- Can **ONLY** include **LETTERS**, **Numbers** and **Underscores**
| Naming Rule | Example |
| ----------- | ------- |
| Can**NOT** contain **SYMBOLS** of any kind in any location of the variable name | %, $, #, @, !, etc |
| Can**NOT** contain **Arithmetic OPERATORS** | a + b * c |
- Have to start with **ONLY** a **LETTER** or **UNDERSCORE**
| Naming Rule | Example |
| --- | ----|
| CANNOT Start with a **NUMBER** | **2bad** |
| CAN Start with a **LETTER** | **good1**
| CAN Start with an **UNDERSCORE** | **_good** |
| ONLY CONTAINS **NUMBERS**, **LETTERS** and/or **UNDERSCORES** | **is_okay** |
- Can **NOT** be a **keyword** *(List of Keywords below)*
- Case sensitive 
    - **'Variable_Name'** does **NOT =** **'Variable_name'**

In [15]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [16]:
# Data can be stored in a variable by 'variable name = data' you want stored in that variable
# For this example will use generic placeholders
Variable_Name = 'data item I want stored'
print(Variable_Name)

data item I want stored

#### <u>**What *types of data* (DATA TYPES) can be stored in a *variable*?**<u>

- Integer whole numbers = ***integer***
- Floating-point numbers = ***float***
    - With a fractional part following the decimal point) 
- ***Text strings*** 
    - MUST be enclosed within **" "*** or **' '** aka quote marks to denote the start and end of that particular string
- ***Boolean values*** 
    - **True** or **False**

In [17]:
# Create a variable called test_var
# Assign this variable the value that we get when we add 5 to 4
test_var = 4 + 5

In [18]:
# Print the value of test_var with print() 
# This stores the result in the variable test_var for furture use
print(test_var)

9

### <u>**Variable MANIPULATION**<u>

The reason a ***variable*** is called a ***variable*** is because the data that it stores can be *variable*
- Once you assign ***data*** to a ***variable*** you can subsequently assigned it to be a different value (a different piece of data to store)
    - "Its value can **VARY** as the program proceeds -- hence the term ***"variable"***."

#### a. **Variable REASSIGNMENT**
1. First you must ***"initialize"*** the variable, aka assign it an initial value
    - Otherwise it will remain undefined and the interpreter will report a "not defined error"

2. You can then "change the ***value*** assigned to a ***variable*** by overriding the previous value which will be described below

##### **Example 1**

In [19]:
# When run the initialized value for the variable will output first then the 2nd
# Here is an example of it all in one code cell

# STEP 1: INITIALIZATION: Set value of th e varibale 'my_var2' to be 3
my_var2 = 3

# STEP 2: Print the value assigned to 'my_var2'
print(my_var2)

# STEP 3: Change the values assigned to 'my_var2' 
my_var2 = 100

# STEP 4: Print the new value assigned to 'my_var2'
print(my_var2)

3
100

##### **Example 2**
This example is used to show you that
- so the initialization and the reassignment does not have to be in the same code cell before running
- can even have each aspect in its own code cell and ran
- Example below has the initialization and print in one code cell and the reassigment and print in another

In [20]:
# STEP 1: INITIALIZATION: Set value of new variable 'my_var' to be 3
my_var = 3

# STEP 2: Print the value assigned to my_var
print(my_var)

3

In [21]:
# STEP 3: Change the value of the variable to 100
my_var = 100

# STEP 4: Print the new value assigned to my_var
print(my_var)

100

#### b. **Variable Permanency**
- 'in general whenever you define a variable in a code cell, all the code cells that follow also have access to the variable'

##### **Example 1**
This example is used to show that the variable created early on in this notebook called 'test_var' 
- Still maintains its output all these code cells later. That output was 9.

- Also showing that the new value for the reassigned 'my_var' is printed when you print it after reassigning it just a code cell earlier from 3 to be 100

In [22]:
print(test_var)
print(my_var)

9
100

#### c. **Multiple Variables Initialized with common value**
- "Multiple ***variables*** can be ***initialized*** with a **common value** in a **SINGLE Statement**
- This is achieved by using a sequence of **'='** ***assignments***
- Example is below in the following code cell

In [23]:
# Initialize variables named "a", "b", and "c" each with the numberic value of 8 as follows:
a = b = c = 8

# Print each of them to show that it worked
# Also provide a text string in front to prove they are individually different outputs
print('a =', a)
print('b =', b)
print('c =', c)

a = 8
b = 8
c = 8

#### **Example combining everything learned above including variable manipulation lessons "a." thru "c." above**
Example provided in ***Coding for Beginners In Easy Steps book***

In [24]:
# (1) Initialize a new variable called "var" to store a whole (integer) number "8"
var = 8

# (2) Add statement to display the stored integer value
# Provide text string within it to help output be easy to link to this, do so for all
print('Original =', var)

# (3) Assign a new floating-point (float) number to the variable, then add a statement to display the stored float value
var = 3.142
print('Float =', var)

# (4) Now assign a text string to the variable, then add a statement to display the stroed string value
var = 'Coding for Beginners in easy steps'
print('Text String =', var)

# (5) Assign a logical truth value to the variable, then add a statement to display the stored Boolean value
var = True
print('Boolean Value =', var)

# (6) Now run the entire code cell to see the combined output and ensure it matches what is in the book

Original = 8
Float = 3.142
Text String = Coding for Beginners in easy steps
Boolean Value = True

#### d. **Using Multiple Variables**
Can use multiple variables in a code
- This is useful when you have to do long calculation with multiple inputs

##### **Example 1**: Calculating number of seconds in 4 years
- This calculation uses five inputs
- Although this calculation is acheiveable without variables (60 * 60 * 24 * 365 * 4)
    - If you don't have variables then its harder to check that it does not have some error, b/c it is not as readable
    - Using individual variables for each part you 'can better keep track of each part of the calculation and more easily check for and correct any mistakes'

In [25]:
# To calculate number of seconds in 4 years its a conversion so need to quantify each aspect with separate variables
# Then you will use the multiple variables to answer the question

# (1) Create variable for years
num_years = 4

# (2) Create variable for days per year
days_per_year = 365

# (3) Create variable for hours per day
hours_per_day = 24

# (4) Create variable for minutes per hour
mins_per_hour = 60

# (5) Create variable for secs per minute
secs_per_min = 60

# (6) Calculate number of seconds in 4 years using the above created variables
# (a) first you do this by creating yet another variable that you will call 'total_secs'
# (b) the value of that variable will be the multiplication of all the other variables since its a conversion formula!
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years

# (7) Now you print the 'total_secs' variable and the output will be the conversion calculation of how many seconds are in 4 years!
print(total_secs)

126144000

##### **Example 2**: Improve the above estimate
- Say you want to improve the accuracy of the estimate by updating the days in a year from 365 to 365.25 which accounts for leap years.
- If you didn't already establish the individual variables you would have to input the whole equation again replacing 365 with 365.25
- This is more labor intensive though then just the arithemetic of replacing 365 with 365.25 in the arithmetic (60 * 60 * 24 * 365.25 *4) 
    - But hey thats coding!
    - Proof of this in code cell below

In [26]:
# Proof you have to redo the entire total_secs variable
# Update 'days_per_year' variable to include leap years
# Change the value from 365 to 365.25
days_per_year = 365.25

# If you don't redefine the variable 'total_secs' it will just re-output with the old value of 'days_per_year' as seen below
print(total_secs)

126144000

In [27]:
# Yes its labor intensive to now rewrite the entire value for 'total_secs' variable 
# But that just how coding goes
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years

# Now when you recalculate it, it is accurate
# You will notice it also adds a '.0' at the end because we added a fractional number
# This will be better taught in lesson 3 when we discuss data types
print(total_secs)

126230400.0

#### e. **Arithmetic Assignment**
- Kaggle course introduces the concept of arithmetic assignment in this lesson but doesn't elaborate much on it
- There is a complicated section of the ***Coding for Beginners in easy steps*** book that also addresses this
- ChatGPT helped me to see that this random example in Kaggle is called **Arithmetic Assignement**
- I want to continue on with the Kaggle course as is and see if they further discuss it
- If at the end they still haven't disccused it I can then read it in the ***Coding for Beginners in easy steps*** book because I have put checks on each page I have done in that book and it won't be checked page 37 to 47

'The next code cell tells Python to **increase the current value** of *'my_var'* by 3
- 'To do this, we still need to use *'my_var ='* like before
- Also assign the new value we want to the variable to the right of the *=*
See the below code cell for this worked out

In [28]:
# Increase the value of 'my_var' by 3
my_var = my_var + 3

# Print the new value of 'my_var' that you just assigned it
# Achieved by simply printing the 'my_var' variable as before as it should show the new assigned value, overriding the old value
print(my_var)

103

## Debugging

### ***NameError***
- When you see
    - *'NameError'*
    it's an indication that you need to check how you spelled the variable that is references as "not defined"

- See the image below as the example described

![Alt Text](typoImage.png)

- You can fix this ***NameError*** by just correcting the spelling as shown below in the next code cell

In [29]:
print(hours_per_day)

24